.visually-hidden {
    @include visuallyHidden();
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    body {
        height: auto;
        overflow: hidden;
    }
}

.hide-on-mobile {
    @include breakpoint(small-tablet) {
        display: none !important;
    }
}

.show-on-mobile {
    @include breakpointMF(tablet) {
        display: none !important;
    }
}

._intro-padding-top {
    padding-top: var(--header-height);
}

.midnightHeader.default {
    background-color: var(--Asphalt-color, #252525);
    color: var(--Asphalt-color, #252525);
}

.midnightHeader.light {
    background-color: var(--Send-color, #DAD5C1);
    color: var(--Asphalt-color, #252525);

    .page-header__burger {
        .icon {
            stroke: var(--Asphalt-color, #252525);
        }
    }
}

.fancybox__container {
    .fancybox__toolbar {
        top: 7.2rem;

        @include breakpointMF(tablet) {
            top: 0;
        }
    }
}
