<div class="cookies-popup js-modal active">
    <div class="cookies-popup__site-container">
        <div class="cookies-popup__body">
            <div class="cookies-popup__prime">
                <svg aria-hidden="true" class="cookies-popup__icon">
                    <use xlink:href="#cookies"></use>
                </svg>

                <div class="cookies-popup__desc">
                    <h6>
                        Мы используем файлы cookie
                    </h6>
                    <p>
                        Продолжая использовать сайт, вы соглашаетесь на использование файлов cookie и обработку
                        персональных данных в соответствии с <a href="#" target="_blank" class="">Политикой
                            конфиденциальности.</a>
                    </p>
                </div>
            </div>
            <div class="cookies-popup__controls">
                <button type="button" class="cookies-popup__button button button--black js-close-modal">Принять</button>
                <button type="button"
                    class="cookies-popup__button button button--white button--outlined js-close-modal">Отклонить
                    все</button>
            </div>
        </div>
    </div>
</div>
