<footer class="page-footer" data-section="yellow">
    <div class="page-footer__site-container">
        <div class="page-footer__grid">
            <div class="page-footer__cell page-footer__nav">
                <div class="page-footer__title">
                    Навигация
                </div>
                <div class="page-footer__column page-footer__menus">
                    <ul class="page-footer__menu footer-menu">
                        <li><a href="./services.html" class="footer-menu__link">
                            Услуги
                        </a></li>
                        <li><a href="./service.html" class="footer-menu__link">
                            Разработка интернет магазинов
                        </a></li>
                        <li><a href="./service.html" class="footer-menu__link">
                            Техническая поддержка и развитие
                        </a></li>
                        <li><a href="./service.html" class="footer-menu__link">
                            SEO продвижение
                        </a></li>
                        <li><a href="./service.html" class="footer-menu__link">
                            Битрикс24
                        </a></li>
                    </ul>

                    <ul class="page-footer__menu footer-menu">
                        <li><a href="./cases.html" class="footer-menu__link">
                            Кейсы
                        </a></li>
                        <li><a href="./case.html" class="footer-menu__link">
                            Разработка
                        </a></li>
                        <li><a href="./case.html" class="footer-menu__link">
                            Поддержка
                        </a></li>
                        <li><a href="./case.html" class="footer-menu__link">
                            SEO
                        </a></li>
                        <li><a href="./case.html" class="footer-menu__link">
                            Битрикс24
                        </a></li>
                    </ul>

                    <ul class="page-footer__menu footer-menu">
                        <li><a href="./contacts.html" class="footer-menu__link">
                            Контакты
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__cell page-footer__contacts">
                <div class="page-footer__title">
                    Связаться с нами
                </div>
                <div class="page-footer__column page-footer__links">
                    <a href="tel:+79300369420" class="page-footer__link">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#tg"></use>
                        </svg>
                        Telegram
                    </a>
                    <a href="tel:+79300369420" class="page-footer__link">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#wa"></use>
                        </svg>
                        What’s App
                    </a>
                    <a href="tel:+79300369420" class="page-footer__link">
                        +7 930 036 94 20
                    </a>
                    <a href="mailto:main@leeft.ru" class="page-footer__link">
                        main@leeft.ru
                    </a>
                </div>
            </div>
            <div class="page-footer__cell page-footer__address">
                <div class="page-footer__title">
                    Найти нас
                </div>
                <p class="page-footer__text">
                    163060, г. Архангельск, ул. Шабалина А.О.,<br> дом 15, корпус 1, 3 этаж, офис 36
                </p>
            </div>
        </div>
        <div class="page-footer__basement">
            <a href="#" target="_blank" class="page-footer__policy">
                Политика конфиденциальности
            </a>

            <a href="#first-section" class="page-footer__to-top">
                <span class="hide-on-mobile">
                    Вернуться наверх
                </span>
                <svg aria-hidden="true" class="icon">
                    <use xlink:href="#up"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>
