<header class="page-header" id="page-header">
    <div class="page-header__site-container">
        <a href="/" class="page-header__logo logo hide-on-mobile">
            <svg aria-hidden="true" class="icon">
                <use xlink:href="#logo"></use>
            </svg>
        </a>

        <ul class="page-header__menu menu hide-on-mobile">
            <li class="menu__item">
                <a href="./bitrix.html" class="menu__link">
                    Битрикс24
                </a>
            </li>
            <li class="menu__item">
                <a href="./services.html" class="menu__link">
                    Услуги
                </a>
            </li>
            <li class="menu__item">
                <a href="./cases.html" class="menu__link">
                    Кейсы
                </a>
            </li>
            <li class="menu__item">
                <a href="./contacts.html" class="menu__link">
                    Контакты
                </a>
            </li>
            <li class="menu__item">
                <a href="tel:+79300369420" class="menu__link menu__link--bold">
                    +7 930 036 94 20
                </a>
            </li>
        </ul>

        <button type="button" class="page-header__burger js-burger-menu show-on-mobile">
            <svg aria-hidden="true" class="icon icon-burger">
                <use xlink:href="#burger"></use>
            </svg>
            <svg aria-hidden="true" class="icon icon-close">
                <use xlink:href="#close-burger"></use>
            </svg>
        </button>
    </div>
</header>
