<div class="section clients-section js-client-section">
    <div class="clients-section__site-container">
        <div class="clients-section__heading">
            <h2 class="clients-section__title">
                Наши клиенты
            </h2>

            <div class="clients-section__counter">
                <span>(</span><span class="clients-section__total js-clients-total">7</span><span>)</span>
            </div>
        </div>

        <div class="clients-section__body">
            <div class="clients-section__swiper swiper">
                <ul class="clients-section__swiper-wrapper swiper-wrapper">
                    <li class="clients-section__swiper-slide swiper-slide">
                        <picture>
                            <source type="image/webp" srcset="./img/formats/client-1.webp" />
                            <img class="lazy" src="./img/formats/client-1.png" alt="client logo">
                        </picture>
                    </li>
                    <li class="clients-section__swiper-slide swiper-slide">
                        <picture>
                            <source type="image/webp" srcset="./img/formats/client-2.webp" />
                            <img class="lazy" src="./img/formats/client-2.png" alt="client logo">
                        </picture>
                    </li>
                    <li class="clients-section__swiper-slide swiper-slide">
                        <picture>
                            <source type="image/webp" srcset="./img/formats/client-3.webp" />
                            <img class="lazy" src="./img/formats/client-3.png" alt="client logo">
                        </picture>
                    </li>
                    <li class="clients-section__swiper-slide swiper-slide">
                        <picture>
                            <source type="image/webp" srcset="./img/formats/client-4.webp" />
                            <img class="lazy" src="./img/formats/client-4.png" alt="client logo">
                        </picture>
                    </li>
                    <li class="clients-section__swiper-slide swiper-slide">
                        <picture>
                            <source type="image/webp" srcset="./img/formats/client-5.webp" />
                            <img class="lazy" src="./img/formats/client-5.png" alt="client logo">
                        </picture>
                    </li>
                    <li class="clients-section__swiper-slide swiper-slide">
                        <picture>
                            <source type="image/webp" srcset="./img/formats/client-6.webp" />
                            <img class="lazy" src="./img/formats/client-6.png" alt="client logo">
                        </picture>
                    </li>
                    <li class="clients-section__swiper-slide swiper-slide">
                        <picture>
                            <source type="image/webp" srcset="./img/formats/client-7.webp" />
                            <img class="lazy" src="./img/formats/client-7.png" alt="client logo">
                        </picture>
                    </li>
                    <li class="clients-section__swiper-slide swiper-slide">
                        <picture>
                            <source type="image/webp" srcset="./img/formats/client-4.webp" />
                            <img class="lazy" src="./img/formats/client-4.png" alt="client logo">
                        </picture>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
