<section class="double-section section js-hover-box" data-midnight="light">
    <div class="double-section__container">
        {{>benefits-section}}
        {{>clients-section}}
    </div>
</section>
