<section class="faq-section section">
    <div class="faq-section__site-container">
        <h2 class="faq-section__title">
            Часто задаваемые вопросы?
        </h2>

        <div class="faq-section__body">
            <ul class="faq-section__list">
                <li class="faq-section__item faq-item">
                    <input type="radio" name="faq-item-input" id="faq-item-001" class="faq-item__input">

                    <div class="faq-item__body">
                        <div class="faq-item__button">
                            <span class="faq-item__question">
                                Название вопроса?
                            </span>

                            <div class="faq-item__icon">
                                <svg aria-hidden="true" class="icon icon-close">
                                    <use xlink:href="#close"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon icon-arrow">
                                    <use xlink:href="#down"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="faq-item__dropdown">
                            <div class="faq-item__inner">
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис
                                </p>
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании
                                </p>
                            </div>
                        </div>
                    </div>

                    <label for="faq-item-001" class="faq-item__label"></label>
                </li>
                <li class="faq-section__item faq-item">
                    <input type="radio" name="faq-item-input" id="faq-item-002" class="faq-item__input">

                    <div class="faq-item__body">
                        <div class="faq-item__button">
                            <span class="faq-item__question">
                                Название вопроса?
                            </span>

                            <div class="faq-item__icon">
                                <svg aria-hidden="true" class="icon icon-close">
                                    <use xlink:href="#close"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon icon-arrow">
                                    <use xlink:href="#down"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="faq-item__dropdown">
                            <div class="faq-item__inner">
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис
                                </p>
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании
                                </p>
                            </div>
                        </div>
                    </div>

                    <label for="faq-item-002" class="faq-item__label"></label>
                </li>
                <li class="faq-section__item faq-item">
                    <input type="radio" name="faq-item-input" id="faq-item-003" class="faq-item__input">

                    <div class="faq-item__body">
                        <div class="faq-item__button">
                            <span class="faq-item__question">
                                Название вопроса? Вопрос может быть в две строки, а может быть и в три!<br> вот как-то так!
                            </span>

                            <div class="faq-item__icon">
                                <svg aria-hidden="true" class="icon icon-close">
                                    <use xlink:href="#close"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon icon-arrow">
                                    <use xlink:href="#down"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="faq-item__dropdown">
                            <div class="faq-item__inner">
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис
                                </p>
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании
                                </p>
                            </div>
                        </div>
                    </div>

                    <label for="faq-item-003" class="faq-item__label"></label>
                </li>
                <li class="faq-section__item faq-item">
                    <input type="radio" name="faq-item-input" id="faq-item-004" class="faq-item__input">

                    <div class="faq-item__body">
                        <div class="faq-item__button">
                            <span class="faq-item__question">
                                Название вопроса?
                            </span>

                            <div class="faq-item__icon">
                                <svg aria-hidden="true" class="icon icon-close">
                                    <use xlink:href="#close"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon icon-arrow">
                                    <use xlink:href="#down"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="faq-item__dropdown">
                            <div class="faq-item__inner">
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис
                                </p>
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании
                                </p>
                            </div>
                        </div>
                    </div>

                    <label for="faq-item-004" class="faq-item__label"></label>
                </li>
                <li class="faq-section__item faq-item">
                    <input type="radio" name="faq-item-input" id="faq-item-005" class="faq-item__input">

                    <div class="faq-item__body">
                        <div class="faq-item__button">
                            <span class="faq-item__question">
                                Название вопроса?
                            </span>

                            <div class="faq-item__icon">
                                <svg aria-hidden="true" class="icon icon-close">
                                    <use xlink:href="#close"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon icon-arrow">
                                    <use xlink:href="#down"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="faq-item__dropdown">
                            <div class="faq-item__inner">
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис
                                </p>
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании
                                </p>
                            </div>
                        </div>
                    </div>

                    <label for="faq-item-005" class="faq-item__label"></label>
                </li>
                <li class="faq-section__item faq-item">
                    <input type="radio" name="faq-item-input" id="faq-item-006" class="faq-item__input">

                    <div class="faq-item__body">
                        <div class="faq-item__button">
                            <span class="faq-item__question">
                                Название вопроса?
                            </span>

                            <div class="faq-item__icon">
                                <svg aria-hidden="true" class="icon icon-close">
                                    <use xlink:href="#close"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon icon-arrow">
                                    <use xlink:href="#down"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="faq-item__dropdown">
                            <div class="faq-item__inner">
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис
                                </p>
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании
                                </p>
                            </div>
                        </div>
                    </div>

                    <label for="faq-item-006" class="faq-item__label"></label>
                </li>
                <li class="faq-section__item faq-item">
                    <input type="radio" name="faq-item-input" id="faq-item-007" class="faq-item__input">

                    <div class="faq-item__body">
                        <div class="faq-item__button">
                            <span class="faq-item__question">
                                Название вопроса?
                            </span>

                            <div class="faq-item__icon">
                                <svg aria-hidden="true" class="icon icon-close">
                                    <use xlink:href="#close"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon icon-arrow">
                                    <use xlink:href="#down"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="faq-item__dropdown">
                            <div class="faq-item__inner">
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис
                                </p>
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании
                                </p>
                            </div>
                        </div>
                    </div>

                    <label for="faq-item-007" class="faq-item__label"></label>
                </li>
                <li class="faq-section__item faq-item">
                    <input type="radio" name="faq-item-input" id="faq-item-008" checked class="faq-item__input">

                    <div class="faq-item__body">
                        <div class="faq-item__button">
                            <span class="faq-item__question">
                                Название вопроса?
                            </span>

                            <div class="faq-item__icon">
                                <svg aria-hidden="true" class="icon icon-close">
                                    <use xlink:href="#close"></use>
                                </svg>
                                <svg aria-hidden="true" class="icon icon-arrow">
                                    <use xlink:href="#down"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="faq-item__dropdown">
                            <div class="faq-item__inner">
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис
                                </p>
                                <p class="faq-item__text">
                                    Хочу выразить благодарность компании LTD Leeft за проделанную работу. Я достаточно долго выбирал, кому доверить воплощение своей идеи в жизнь. Сравнивал, просматривал разные варианты. Придя в офис Хочу выразить благодарность компании
                                </p>
                            </div>
                        </div>
                    </div>

                    <label for="faq-item-008" class="faq-item__label"></label>
                </li>
            </ul>
        </div>
    </div>
</section>
