{{#if mainPageVersion}}
<section class="reviews-section section js-reviews-section" data-midnight="light">
    <div class="reviews-section__container">
        <div class="reviews-section__body">
            <div class="reviews-section__left">
                <h2 class="reviews-section__title">Отзывы </h2>
                <div class="reviews-section__pagination"></div>
                <div class="reviews-section__carousel">
                    <div class="reviews-section__images-swiper swiper" dir="rtl">
                        <ul class="reviews-section__swiper-wrapper swiper-wrapper">
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                        </ul>
                    </div>
                    <div class="reviews-section__thumbs-swiper swiper" dir="rtl">
                        <ul class="reviews-section__swiper-wrapper swiper-wrapper">
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="reviews-section__right">
                <div class="reviews-section__text-swiper swiper" dir="rtl">
                    <ul class="reviews-section__swiper-wrapper swiper-wrapper">
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading">
                                <h3 class="text-slide__name">Имя Фамилия </h3>
                                <p class="text-slide__role">Руководитель такой-то того-то </p>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading">
                                <h3 class="text-slide__name">Имя Фамилия </h3>
                                <p class="text-slide__role">Руководитель такой-то того-то </p>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading">
                                <h3 class="text-slide__name">Имя Фамилия </h3>
                                <p class="text-slide__role">Руководитель такой-то того-то </p>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading">
                                <h3 class="text-slide__name">Имя Фамилия </h3>
                                <p class="text-slide__role">Руководитель такой-то того-то </p>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading">
                                <h3 class="text-slide__name">Имя Фамилия </h3>
                                <p class="text-slide__role">Руководитель такой-то того-то </p>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading">
                                <h3 class="text-slide__name">Имя Фамилия </h3>
                                <p class="text-slide__role">Руководитель такой-то того-то </p>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading">
                                <h3 class="text-slide__name">Имя Фамилия </h3>
                                <p class="text-slide__role">Руководитель такой-то того-то </p>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading">
                                <h3 class="text-slide__name">Имя Фамилия </h3>
                                <p class="text-slide__role">Руководитель такой-то того-то </p>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="reviews-section__next-btn reviews-next-btn">
                    <img class="lazy" src="./img/formats/arrow.png" alt="">
                </button>
            </div>
        </div>
    </div>
</section>
{{else}}
<section class="reviews-section reviews-section--modified section js-reviews-section" data-midnight="light">
    <div class="reviews-section__site-container">
        <div class="reviews-section__row">
            <h2 class="reviews-section__title">Отзывы </h2>
            <div class="reviews-section__pagination"></div>
        </div>
        <div class="reviews-section__body">
            <div class="reviews-section__left">
                <div class="reviews-section__carousel">
                    <div class="reviews-section__images-swiper swiper" dir="rtl">
                        <ul class="reviews-section__swiper-wrapper swiper-wrapper">
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                        </ul>
                    </div>
                    <div class="reviews-section__thumbs-swiper swiper" dir="rtl">
                        <ul class="reviews-section__swiper-wrapper swiper-wrapper">
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                            <li class="reviews-section__thumbs-slide swiper-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/slide.webp" />
                                    <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/slide-t.webp" />
                                    <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                    <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img class="lazy"
                                        src="./img/formats/slide-m.jpg" alt="">
                                </picture>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="reviews-section__right">
                <div class="reviews-section__text-swiper swiper" dir="rtl">
                    <ul class="reviews-section__swiper-wrapper swiper-wrapper">
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading text-slide__heading--row">
                                <div class="text-slide__author-image">
                                    <picture>
                                        <source media="(min-width: 1201px)" type="image/webp"
                                            srcset="./img/formats/slide.webp" />
                                        <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                        <source media="(min-width: 743px)" type="image/webp"
                                            srcset="./img/formats/slide-t.webp" />
                                        <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                        <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img
                                            class="lazy" src="./img/formats/slide-m.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="text-slide__author">
                                    <h3 class="text-slide__name">Имя Фамилия</h3>
                                    <p class="text-slide__role">Руководитель такой-то того-то </p>
                                </div>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading text-slide__heading--row">
                                <div class="text-slide__author-image">
                                    <picture>
                                        <source media="(min-width: 1201px)" type="image/webp"
                                            srcset="./img/formats/slide.webp" />
                                        <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                        <source media="(min-width: 743px)" type="image/webp"
                                            srcset="./img/formats/slide-t.webp" />
                                        <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                        <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img
                                            class="lazy" src="./img/formats/slide-m.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="text-slide__author">
                                    <h3 class="text-slide__name">Имя Фамилия</h3>
                                    <p class="text-slide__role">Руководитель такой-то того-то </p>
                                </div>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading text-slide__heading--row">
                                <div class="text-slide__author-image">
                                    <picture>
                                        <source media="(min-width: 1201px)" type="image/webp"
                                            srcset="./img/formats/slide.webp" />
                                        <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                        <source media="(min-width: 743px)" type="image/webp"
                                            srcset="./img/formats/slide-t.webp" />
                                        <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                        <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img
                                            class="lazy" src="./img/formats/slide-m.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="text-slide__author">
                                    <h3 class="text-slide__name">Имя Фамилия</h3>
                                    <p class="text-slide__role">Руководитель такой-то того-то </p>
                                </div>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading text-slide__heading--row">
                                <div class="text-slide__author-image">
                                    <picture>
                                        <source media="(min-width: 1201px)" type="image/webp"
                                            srcset="./img/formats/slide.webp" />
                                        <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                        <source media="(min-width: 743px)" type="image/webp"
                                            srcset="./img/formats/slide-t.webp" />
                                        <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                        <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img
                                            class="lazy" src="./img/formats/slide-m.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="text-slide__author">
                                    <h3 class="text-slide__name">Имя Фамилия</h3>
                                    <p class="text-slide__role">Руководитель такой-то того-то </p>
                                </div>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading text-slide__heading--row">
                                <div class="text-slide__author-image">
                                    <picture>
                                        <source media="(min-width: 1201px)" type="image/webp"
                                            srcset="./img/formats/slide.webp" />
                                        <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                        <source media="(min-width: 743px)" type="image/webp"
                                            srcset="./img/formats/slide-t.webp" />
                                        <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                        <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img
                                            class="lazy" src="./img/formats/slide-m.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="text-slide__author">
                                    <h3 class="text-slide__name">Имя Фамилия</h3>
                                    <p class="text-slide__role">Руководитель такой-то того-то </p>
                                </div>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading text-slide__heading--row">
                                <div class="text-slide__author-image">
                                    <picture>
                                        <source media="(min-width: 1201px)" type="image/webp"
                                            srcset="./img/formats/slide.webp" />
                                        <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                        <source media="(min-width: 743px)" type="image/webp"
                                            srcset="./img/formats/slide-t.webp" />
                                        <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                        <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img
                                            class="lazy" src="./img/formats/slide-m.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="text-slide__author">
                                    <h3 class="text-slide__name">Имя Фамилия</h3>
                                    <p class="text-slide__role">Руководитель такой-то того-то </p>
                                </div>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading text-slide__heading--row">
                                <div class="text-slide__author-image">
                                    <picture>
                                        <source media="(min-width: 1201px)" type="image/webp"
                                            srcset="./img/formats/slide.webp" />
                                        <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                        <source media="(min-width: 743px)" type="image/webp"
                                            srcset="./img/formats/slide-t.webp" />
                                        <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                        <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img
                                            class="lazy" src="./img/formats/slide-m.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="text-slide__author">
                                    <h3 class="text-slide__name">Имя Фамилия</h3>
                                    <p class="text-slide__role">Руководитель такой-то того-то </p>
                                </div>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                        <li class="reviews-section__swiper-slide swiper-slide text-slide">
                            <div class="text-slide__heading text-slide__heading--row">
                                <div class="text-slide__author-image">
                                    <picture>
                                        <source media="(min-width: 1201px)" type="image/webp"
                                            srcset="./img/formats/slide.webp" />
                                        <source media="(min-width: 1201px)" srcset="./img/formats/slide.jpg" />
                                        <source media="(min-width: 743px)" type="image/webp"
                                            srcset="./img/formats/slide-t.webp" />
                                        <source media="(min-width: 743px)" srcset="./img/formats/slide-t.jpg" />
                                        <source type="image/webp" srcset="./img/formats/slide-m.webp" /><img
                                            class="lazy" src="./img/formats/slide-m.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="text-slide__author">
                                    <h3 class="text-slide__name">Имя Фамилия</h3>
                                    <p class="text-slide__role">Руководитель такой-то того-то </p>
                                </div>
                            </div>
                            <div class="text-slide__body _element-collapsed"><button type="button"
                                    class="text-slide__expand expand-btn" data-forward="(читать дальше)"
                                    data-backward="(скрыть)"></button>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                                <p class="text-slide__text">Рыбный текст заполняет макет и демонстрирует,
                                    как будет выглядеть реальное содержание страницы. Мы используем эти предложения,
                                    чтобы проверить переносы строк,
                                    интервалы и обтекание изображений. Представьте,
                                    что здесь описываются цели проекта,
                                    ключевые задачи,
                                    этапы разработки и достигнутые результаты. Далее может идти краткая аналитика: рост
                                    конверсии,
                                    повышение скорости загрузки,
                                    улучшение пользовательского опыта и расширение функционала </p>
                            </div>
                            <div class="text-slide__basement">
                                <p class="text-slide__status">Отзыв клиента </p>
                                <p class="text-slide__year">2024 </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="reviews-section__controls">
                    <button class="reviews-section__next-btn reviews-next-btn">
                        <img class="lazy" src="./img/formats/arrow.png" alt="">
                    </button>
                    <button class="reviews-section__next-btn reviews-section__next-btn--prev reviews-prev-btn">
                        <img class="lazy" src="./img/formats/arrow.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}
