<section class="section tarriffs-section stages-section">

    <div class="stages-section__site-container">
        <h2 class="stages-section__title">
            Стоимость внедрения
        </h2>

        {{#if tarriffs}}
        <div class="stages-section__body js-tarriffs-trigger">
            <div class="stages-section__list">
                {{#each tarriffs}}
                {{>tarriff-item tarriffClass="stages-section__item js-tarriffs-item"}}
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>

</section>
