.advantages-section {
    color: var(--Asphalt-color, #252525);
    background-color: var(--Send-color, #DAD5C1);

    @include breakpointMF(tablet) {
        padding-block: calc(var(--chunk) * #{$size-52}) 0;
    }

    @include breakpointMF(desktop) {
        padding-block: calc(var(--chunk) * #{$size-68}) 0;
    }

    &__body {
        padding-block: calc(var(--chunk) * #{$size-80});
        margin-bottom: calc(var(--chunk) * -244);
    }

    &+.section {
        padding-top: calc(var(--chunk) * 244);
    }
}
