.blue-section {
    position: relative;
    padding-block: $size-20;
    background-color: var(--Black-color, #1F1F1F);

    @include breakpointMF(tablet) {
        padding-block: calc(#{$size-4} * 25);
    }

    &__body {
        position: relative;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $size-32;
        padding-block: $size-80;
    }

    &__title {
        display: grid;
        place-content: center;
        place-items: center;

        .icon {
            width: 27.6rem;
            height: 4rem;
            display: block;
        }
    }

    &__text {
        max-width: 25ch;
        @include base20;
        color: #0BBBEF;

        text-align: center;

        @include breakpointMF(tablet) {
            max-width: 35ch;
            @include S32;
        }
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        width: 100%;
        background-color: #005893;
    }
}
