.cases-section {
    padding-block: calc(var(--chunk) * #{$size-80});

    @include breakpointMF(tablet) {
        padding-block: calc(var(--chunk) * 124) calc(var(--chunk) * 164);
    }


    &__heading {
        display: flex;
        flex-direction: column;
        gap: calc(var(--chunk) * #{$size-40});

        &.cases-section__heading--column {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            gap: calc(var(--chunk) * #{$size-32});

            @include breakpointMF(tablet) {
                gap: calc(var(--chunk) * #{$size-64});
            }

            .cases-section__title {
                @include H64;

                @include breakpointMF(tablet) {
                    @include H72;
                }

                @include breakpointMF(desktop) {
                    margin-bottom: unset;
                    @include H112;
                }
            }
        }

        @include breakpointMF(tablet) {
            gap: calc(var(--chunk) * #{$size-48});
        }

        @include breakpointMF(desktop) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            gap: calc(var(--chunk) * #{$size-64}) calc(var(--chunk) * #{$size-96});
        }
    }

    &__subtitle {
        margin-top: calc(-1 * calc(var(--chunk) * #{$size-24}));
        margin-bottom: calc(var(--chunk) * #{$size-24});

        @include breakpointMF(tablet) {
            margin-top: unset;
            margin-bottom: unset;
        }
    }

    &__title {
        flex-shrink: 0;

        @include S48;

        @include breakpointMF(tablet) {
            @include H72;
        }

        @include breakpointMF(desktop) {
            margin-bottom: calc(var(--chunk) * -12);
            @include H112;
        }
    }

    &__subtitle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--chunk) * 1);

        @include adds14;

        &>* {
            display: inline-flex;
            align-items: center;
            height: calc(var(--chunk) * 26);

            color: var(--Send-color, #DAD5C1);
            background-color: var(--Asphalt-color, #252525);
        }

        &>p {
            padding-left: calc(var(--chunk) * 8);
            padding-right: calc(var(--chunk) * 8);
        }
    }

    &__navbars {
        display: flex;
        align-items: center;
        gap: calc(var(--chunk) * #{$size-16});

        overflow: auto;
        margin-inline: calc(-1 * var(--content-padding));
        padding-inline: var(--content-padding);

        scroll-behavior: smooth;
        @include noScrollbar();

        &.cases-section__navbars--full-grow {
            flex-grow: 1 1 100%;
        }
    }

    &__navbar {
        &.nameplate {
            position: relative;

            @include base20;
        }

        &::after {
            content: "(" attr(data-nav-counter) ")";
        }
    }

    &__body {
        margin-top: calc(var(--chunk) * #{$size-48});

        @include breakpointMF(desktop) {
            margin-top: calc(var(--chunk) * #{$size-96});
        }
    }

    &__item {
        // max-width: calc(var(--chunk) * 432);

        &.display-none {
            display: none;
        }
    }

    &__add-items {
        margin-top: calc(var(--chunk) * #{$size-32});

        @include breakpointMF(tablet) {
            margin-top: calc(var(--chunk) * 108);
        }

        @include breakpointMF(desktop) {
            display: none;
        }

        &.button {
            @include hoverActive {
                border-width: 1px;
                color: var(--Asphalt-color, #252525);
                background-color: transparent;
                border-color: var(--Asphalt-color, #252525);
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 100%;
        gap: calc(var(--chunk) * #{$size-40});

        @include breakpointMF(tablet) {
            grid-template-columns: repeat(2, calc(100% / 2 - calc(var(--chunk) * #{$size-4})));
            gap: calc(var(--chunk) * #{$size-32}) calc(var(--chunk) * #{$size-8});
        }

        @include breakpointMF(desktop) {
            grid-template-columns: repeat(3, calc(100% / 3 - (calc(var(--chunk) * #{$size-8})* 2 / 3)));
            gap: calc(var(--chunk) * #{$size-16}) calc(var(--chunk) * #{$size-8});
        }

        &.cases-section__list--sortable {
            @include breakpointMF(desktop) {
                grid-template-columns: repeat(6, calc(100% / 6 - (calc(var(--chunk) * #{$size-8}) * 5 / 6)));
                gap: calc(var(--chunk) * #{$size-24}) calc(var(--chunk) * #{$size-8});
            }
        }

        &:not(.cases-section__list--sortable) {
            .cases-section__item {
                // max-width: calc(var(--chunk) * 500);
            }
        }

        &.cases-section__list--collapsed {
            &+.cases-section__add-items {
                display: none;
            }

            &:has(.cases-section__item:nth-child(10)) {
                &+.cases-section__add-items {
                    display: grid;
                }
            }
        }

        &.cases-section__list--collapsed {
            .cases-section__item {
                &:nth-child(n+10) {
                    @include breakpointMF(desktop) {
                        display: none;
                    }
                }
            }

            &+.cases-section__add-items {
                display: grid;

                @include breakpointMF(desktop) {
                    max-width: calc(var(--chunk) * 435);
                    margin-inline: auto;
                }
            }
        }
    }
}
