.case-card {
    display: grid;
    grid-template-columns: 100%;
    gap: calc(var(--chunk) * #{$size-16});

    width: 100%;
    color: inherit;


    &:not(:has(.case-card__image)) {
        .case-card__picture {
            opacity: 0;
        }
    }

    &__picture {
        position: relative;

        width: 100%;
        overflow: hidden;
        aspect-ratio: 1.135 / 1;

        border: 0.5px solid transparent;

        transition-property: background, opacity, border;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;

        &>picture {
            img {
                display: block;
                width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center;

                transition-property: opacity;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
        }
    }

    &__arrow {
        @include centeredAbsolute();
        z-index: 100;

        opacity: 0;

        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--chunk) * #{$size-4});
    }

    &__desc {
        display: flex;
        align-items: flex-end;
        gap: calc(var(--chunk) * #{$size-8});
    }

    &__counter,
    &__name {
        @include base20bold;
    }

    &__type,
    &__text {
        @include adds14;
    }

    &__desc {
        display: none;
    }

    &__text {
        @include maxSizeText(2);
    }

    &.case-card--simple {
        .case-card__picture {
            opacity: 1;
            background-color: rgba($color: #807D73, $alpha: 0.2);

        }

        @include hoverActive() {
            .case-card__picture {
                border-color: var(--Asphalt-color, #252525);
            }
        }
    }

    &:not(.case-card--simple) {
        &:not(:has(.case-card__image)) {
            .case-card__picture {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                opacity: 0;
            }

            .case-card__info {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        }

        @include breakpointMF(desktop) {
            gap: calc(var(--chunk) * #{$size-4});
        }

        .case-card__desc {
            @include breakpointMF(desktop) {
                display: flex;
            }
        }

        .case-card__name {
            @include breakpointMF(desktop) {
                @include base16;
            }
        }

        .case-card__text {
            @include breakpointMF(desktop) {
                display: none;
            }
        }

        .case-card__picture {
            border-color: transparent;

            @include breakpointMF(desktop) {
                aspect-ratio: 0.67 / 1;
            }
        }
    }

    @include hoverActive() {
        position: relative;

        .case-card__picture {
            opacity: 1;
            border-color: transparent;
            background-color: var(--Limon-color, #FCFF7A);

            &>picture {
                img {
                    opacity: 0;
                }
            }
        }

        .case-card__arrow {
            opacity: 1;
        }
    }
}
