.competence-section {
    color: var(--Send-color, #DAD5C1);
    background-color: var(--Asphalt-color, #252525);

    @include breakpointMF(tablet) {
        padding-block: calc(var(--chunk) * #{$size-28});
    }

    &__site-container {
        padding-block: calc(var(--chunk) * #{$size-80});
    }

    &__title {
        @include S48;
        margin-bottom: calc(var(--chunk) * #{$size-40});

        @include breakpointMF(tablet) {
            @include H72;
            margin-bottom: calc(var(--chunk) * #{$size-72});
        }

        @include breakpointMF(desktop) {
            margin-bottom: calc(var(--chunk) * #{$size-64});
        }
    }

    &__body {
        position: relative;

        min-height: calc(var(--chunk) * 100);
        margin-inline: calc(-1 * var(--content-padding, 2.4rem));
        padding-block: calc(var(--chunk) * #{$size-80});

        background-color: var(--Black-color, #1F1F1F);

        @include breakpointMF(tablet) {
            margin-inline: unset;
        }

        @include breakpointMF(desktop) {
            padding-block: calc(var(--chunk) * 100);
        }
    }

    &__inner {
        position: absolute;
        inset: 0;
        z-index: 100;

        display: grid;
        grid-template-columns: repeat(6, calc((100% - calc(var(--chunk) * #{$size-40})) / 6)) calc(var(--chunk) * #{$size-40});

        padding-left: calc(var(--chunk) * #{$size-40});

        counter-reset: competence-list-counter;

        &>li {
            counter-increment: competence-list-counter;

            border-left: 0.5px solid rgba($color: #DAD5C1, $alpha: 0.2);

            @include breakpointMF(tablet) {
                position: relative;
            }

            &:first-child {
                &::after {
                    left: calc(var(--chunk) * #{$size-40});

                    @include breakpointMF(desktop) {
                        left: 50%;
                    }
                }

                &::before {
                    @include breakpointMF(tablet) {
                        right: calc(var(--chunk) * #{$size-40});
                        left: unset;
                        transform: translateX(50%);
                    }

                    @include breakpointMF(desktop) {
                        right: unset;
                        left: 50%;
                        transform: translateX(0%);
                    }
                }
            }

            &:last-child {
                &::after {
                    right: calc(var(--chunk) * #{$size-40});
                    left: unset;

                    @include breakpointMF(desktop) {
                        right: unset;
                        left: 50%;
                    }
                }

                &::before {
                    @include breakpointMF(tablet) {
                        right: unset;
                        left: 50%;
                        transform: translateX(50%);
                    }

                    @include breakpointMF(desktop) {
                        transform: translateX(0%);
                    }

                }
            }

            &::before {
                @include adds12;

                display: block;
                padding: calc(var(--chunk) * #{$size-24}) calc(var(--chunk) * #{$size-8});
                color: var(--Darksend-color, #807D73);
                content: counter(competence-list-counter);

                @include breakpointMF(tablet) {
                    position: absolute;
                    top: 0;
                    right: 50%;
                    transform: translateX(100%);
                }
            }

            &::after {
                position: absolute;
                left: 50%;
                top: 0;
                bottom: 0;
                z-index: 200;

                width: 0.5px;

                background-color: rgba($color: #DAD5C1, $alpha: 0.2);
                content: none;

                @include breakpointMF(tablet) {
                    content: "";
                }
            }
        }

        @include breakpointMF(tablet) {
            grid-template-columns: calc(calc(var(--chunk) * #{$size-40}) + calc(((100% - (calc(var(--chunk) * #{$size-40})* 2))) / 12)) repeat(5, calc((100% - (calc(var(--chunk) * #{$size-40}) * 2)) / 6)) calc(calc(var(--chunk) * #{$size-40}) + calc(((100% - (calc(var(--chunk) * #{$size-40}) * 2))) / 12));

            padding-left: unset;
        }

        @include breakpointMF(desktop) {
            grid-template-columns: repeat(7, calc(100% / 7));
        }
    }

    &__list {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: calc(var(--chunk) * #{$size-24});

        padding-inline: calc(var(--chunk) * #{$size-40});

        @include breakpointMF(tablet) {
            display: grid;
            grid-auto-flow: dense;
            grid-template-columns: repeat(12, calc((100% / 12)));
            gap: 0;
            row-gap: calc(var(--chunk) * #{$size-40});
        }

        @include breakpointMF(desktop) {
            row-gap: calc(var(--chunk) * #{$size-80});
            padding-inline: calc(100% / 7 / 2) calc(100% / 7 / 2);
        }
    }

    &__item {
        position: relative;

        height: calc(var(--chunk) * 64);

        @include breakpointMF(tablet) {
            height: calc(var(--chunk) * 68);
        }

        @include breakpointMF(desktop) {
            height: calc(var(--chunk) * 64);
        }
    }

    &__item {
        &:has(.multi-link--coral) {
            grid-column: span 4;

            @include breakpointMF(desktop) {
                grid-column: span 3;
            }
        }

        &:has(.multi-link--green) {
            grid-column: 6 / 11;

            @include breakpointMF(desktop) {
                grid-column: 9 / 12;
                grid-row-start: 1;
            }
        }

        &:has(.multi-link--purple) {
            grid-column: 2 / 7;

            @include breakpointMF(desktop) {
                grid-column: 3 / 7;
            }
        }

        &:has(.multi-link--grey) {
            grid-column: 8 / 13;

            @include breakpointMF(desktop) {
                grid-column: 8 / 12;
            }
        }

        &:has(.multi-link--yellow) {
            grid-column: span 4;

            @include breakpointMF(desktop) {
                grid-column: 6 / 10;
            }
        }

        &:has(.multi-link--blue) {
            grid-column: 6 / 11;

            @include breakpointMF(desktop) {
                grid-column: 5 / 8;
                grid-row-start: 1;
            }
        }

        &:has(.multi-link--sage) {
            grid-column: 2 / 7;

            @include breakpointMF(desktop) {
                grid-column: 1 / 5;
            }
        }
    }

    &__popup {
        &.competence-popup {
            position: fixed;
            inset: 0;
            z-index: 3000;

            display: none;

            &.active {
                display: flex;

                .competence-popup__body {
                    animation: slideFromBottom 0.2s ease-out 0s 1 forwards;
                }
            }
        }
    }

    &__modals {
        display: contents;
    }

    &__modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2000;

        @include breakpointMF(desktop) {
            z-index: 1000;
        }
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    }
}
