.competence-modal {
    width: 100vw;
    height: 100vh;

    display: none;
    place-items: stretch;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    padding: calc(var(--chunk) * #{$size-24}) calc(var(--chunk) * #{$size-24}) 0;

    background-color: rgba(20, 20, 20, 0.90);
    backdrop-filter: blur(5px);

    @include breakpointMF(desktop) {
        padding: calc(var(--chunk) * #{$size-32}) calc(var(--chunk) * #{$size-32}) 0;
    }

    &.active {
        display: grid;

        .competence-modal__inner {
            animation: slideFromBottom 0.2s ease-out 0s 1 forwards;
        }
    }

    &__site-container {
        height: 100%;
        overflow: hidden;
        padding-block: unset;
    }

    &__outer {
        position: relative;
        height: 100%;
        overflow: hidden;
        padding-inline: calc(var(--chunk) * #{$size-16});
        background-color: var(--Black-color, #1F1F1F);

        @include breakpointMF(desktop) {
            padding-top: unset;
        }
    }

    &__inner {
        width: 100%;
        max-height: 100%;
        overflow: auto;

        padding-inline: calc(var(--chunk) * #{$size-16});

        color: var(--Send-color, #DAD5C1);

        @include breakpointMF(desktop) {
            padding-inline: calc(var(--chunk) * #{$size-64});
            margin-top: calc(var(--chunk) * #{$size-40});
        }

        @include breakpoint(laptop) {
            @include noScrollbar();
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--Asphalt-color, #252525);
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }

        &.typical__inner-wrapper {
            position: static;
        }
    }

    &__nameplate {
        margin-top: calc(var(--chunk) * #{$size-56});
    }
}

.competence-modal {
    &.competence-modal--coral {
        .competence-modal__inner {
            color: var(--Coral-color, #FFAB7A);

            &::-webkit-scrollbar-track {
                background-color: rgba(#FFAB7A, 0.2);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(#FFAB7A, 1);
            }
        }

        .competence-modal__nameplate {
            background-color: var(--Coral-color, #FFAB7A);
        }

        .competence-modal__close {
            .icon {
                stroke: var(--Coral-color, #FFAB7A);
            }
        }
    }
}

.competence-modal {
    &.competence-modal--green {
        .competence-modal__inner {
            color: var(--Green-color, #CCFF7A);

            &::-webkit-scrollbar-track {
                background-color: rgba(#CCFF7A, 0.2);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(#CCFF7A, 1);
            }
        }

        .competence-modal__nameplate {
            background-color: var(--Green-color, #CCFF7A);
        }

        .competence-modal__close {
            .icon {
                stroke: var(--Green-color, #CCFF7A);
            }
        }
    }
}

.competence-modal {
    &.competence-modal--purple {
        .competence-modal__inner {
            color: var(--Purple-color, #B5B4D2);

            &::-webkit-scrollbar-track {
                background-color: rgba(#B5B4D2, 0.2);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(#B5B4D2, 1);
            }
        }

        .competence-modal__nameplate {
            background-color: var(--Purple-color, #B5B4D2);
        }

        .competence-modal__close {
            .icon {
                stroke: var(--Purple-color, #B5B4D2);
            }
        }
    }
}

.competence-modal {
    &.competence-modal--grey {
        .competence-modal__inner {
            color: var(--Send-color, #DAD5C1);

            &::-webkit-scrollbar-track {
                background-color: rgba(#DAD5C1, 0.2);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(#DAD5C1, 1);
            }
        }

        .competence-modal__nameplate {
            background-color: var(--Send-color, #DAD5C1);
        }

        .competence-modal__close {
            .icon {
                stroke: var(--Send-color, #DAD5C1);
            }
        }
    }
}

.competence-modal {
    &.competence-modal--yellow {
        .competence-modal__inner {
            color: var(--Limon-color, #FCFF7A);

            &::-webkit-scrollbar-track {
                background-color: rgba(#FCFF7A, 0.2);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(#FCFF7A, 1);
            }
        }

        .competence-modal__nameplate {
            background-color: var(--Limon-color, #FCFF7A);
        }

        .competence-modal__close {
            .icon {
                stroke: var(--Limon-color, #FCFF7A);
            }
        }
    }
}

.competence-modal {
    &.competence-modal--blue {
        .competence-modal__inner {
            color: var(--Blue-color, #7AC1FF);

            &::-webkit-scrollbar-track {
                background-color: rgba(#7AC1FF, 0.2);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(#7AC1FF, 1);
            }
        }

        .competence-modal__nameplate {
            background-color: var(--Blue-color, #7AC1FF);
        }

        .competence-modal__close {
            .icon {
                stroke: var(--Blue-color, #7AC1FF);
            }
        }
    }
}

.competence-modal {
    &.competence-modal--sage {
        .competence-modal__inner {
            color: var(--Sage-color, #B9D2B4);

            &::-webkit-scrollbar-track {
                background-color: rgba(#B9D2B4, 0.2);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(#B9D2B4, 1);
            }
        }

        .competence-modal__nameplate {
            background-color: var(--Sage-color, #B9D2B4);
        }

        .competence-modal__close {
            .icon {
                stroke: var(--Sage-color, #B9D2B4);
            }
        }
    }
}
