.hero-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: calc(var(--chunk) * #{$size-24});

    @include breakpointMF(desktop) {
        gap: calc(var(--chunk) * #{$size-32});
    }

    &__icon {
        .icon {
            width: calc(var(--chunk) * #{$size-80});
            height: calc(var(--chunk) * #{$size-80});
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: calc(var(--chunk) * #{$size-16});

        &>h6 {
            @include base20bold;
            text-align: center;
        }

        &>p {
            @include adds14;
            text-align: center;

            @include breakpointMF(desktop) {
                max-width: 35ch;
            }
        }
    }
}
