.hero-section {
    color: var(--Send-color, #DAD5C1);
    background-color: var(--Asphalt-color, #252525);

    &__inner-wrapper {
        @extend ._intro-padding-top;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: calc(var(--chunk) * #{$size-48});

        padding-block: calc(var(--chunk) * #{$size-28}) calc(var(--chunk) * #{$size-96});

        @include breakpointMF(tablet) {
            gap: calc(var(--chunk) * #{$size-80});

            padding-block: calc(var(--chunk) * #{$size-64}) calc(var(--chunk) * 104);
        }

        @include breakpointMF(desktop) {
            padding-block: calc(var(--chunk) * #{$size-80}) calc(var(--chunk) * 116);
            gap: calc(var(--chunk) * 116);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: calc(var(--chunk) * #{$size-64}) calc(var(--chunk) * #{$size-8});

        @include breakpointMF(tablet) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item {
        @include breakpointMF(tablet) {
            flex: 0 1 calc(100% / 2 - (calc(var(--chunk) * #{$size-8}) / 2));
        }

        @include breakpointMF(desktop) {
            flex: 0 1 calc(100% / 3 - (calc(var(--chunk) * #{$size-8}) * 2 / 3));
        }
    }

    &__link {
        margin-top: calc(var(--chunk) * #{$size-48});

        @include breakpointMF(tablet) {
            margin-top: calc(var(--chunk) * #{$size-24});
        }

        @include breakpointMF(desktop) {
            margin-top: unset;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        row-gap: calc(var(--chunk) * #{$size-80});
        column-gap: calc(var(--chunk) * #{$size-16});

        @include breakpointMF(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include breakpointMF(desktop) {
            column-gap: calc(var(--chunk) * 116);
        }
    }

    &__contacts-item {
        flex: 1 1 100%;

        &>ul {
            display: flex;
            flex-direction: column;
            gap: calc(var(--chunk) * #{$size-24});

            @include breakpointMF(desktop) {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        &--big {
            flex: 1 1 calc(100% / 2 - (calc(var(--chunk) * #{$size-16}) / 2));
        }

        &--small {
            flex: 1 1 calc(100% / 2 - (calc(var(--chunk) * #{$size-16}) / 2));

            @include breakpointMF(desktop) {
                flex: 0 0 calc(var(--chunk) * 322);
            }
        }
    }

    &__contacts-label {
        margin-bottom: calc(var(--chunk) * #{$size-40});
        @include adds14;
        font-weight: 700;
    }

    &__contacts-links {
        display: flex;
        flex-direction: column;
        gap: calc(var(--chunk) * #{$size-24});

        @include breakpointMF(desktop) {
            flex-direction: column;
            flex-wrap: wrap;
            flex: 0 1 calc(50% - (calc(var(--chunk) * #{$size-24}) / 2));
        }

        &--last {
            @include breakpointMF(desktop) {
                margin-inline: auto;
            }
        }
    }

    &__contacts-text {
        @include base20;
    }

    &__contacts-link {
        display: block;
        color: inherit;
        @include S32;

        @include breakpointMF(desktop) {
            @include S48;
            flex: 1 1 calc(100% / 2 (calc(var(--chunk) * #{$size-24}) / 2));
        }
    }
}
