.home {
    color: var(--Send-color, #DAD5C1);
    background-color: var(--Asphalt-color, #252525);

    &__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        min-height: 100vh;
        min-height: 100dvh;

        padding-top: var(--header-height);
        padding-bottom: calc(var(--chunk) * #{$size-96});

        @include breakpointMF(tablet) {
            padding-bottom: calc(var(--chunk) * #{$size-80});
        }
    }

    &__site-container {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        padding-block: calc(var(--chunk) * #{$size-88}) 0;

        @include breakpointMF(desktop) {
            padding-block: calc(var(--chunk) * 148) 0;
        }
    }

    &__title {
        @include S32;
        text-align: center;

        @include breakpointMF(tablet) {
            @include S48;
            user-select: none;
        }

        @include breakpointMF(desktop) {
            @include H96;
            user-select: none;
        }

        &.home__title--smaller {
            @include S32;
            text-align: center;

            @include breakpointMF(tablet) {
                @include H64;
                user-select: none;
                text-align: left;
            }

            @include breakpointMF(desktop) {
                @include H96;
                user-select: none;
            }
        }

        &.home__title--baseline {
            @include breakpointMF(tablet) {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                column-gap: calc(var(--chunk) * #{$size-16});
            }
        }

        &.home__title--row {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 1ch;

            @include breakpointMF(tablet) {
                display: inline;
                justify-content: flex-start;

                @include H72;
            }

            @include breakpointMF(desktop) {
                display: flex;
                justify-content: center;
                gap: 0.5ch;

                @include H96;
            }

            &.home__title--start {
                @include breakpointMF(tablet) {
                    justify-content: flex-start;
                }
            }

            .home__small-mobile-word {
                flex: 1 1 100%;

                @include breakpointMF(tablet) {
                    flex: unset;
                }
            }

            .home__mobile-word {
                flex: 1 1 100%;

                @include breakpointMF(tablet) {
                    flex: unset;
                }
            }

            .home__mobile-word {
                @include breakpointMF(tablet) {
                    display: contents;
                }

                @include breakpointMF(desktop) {
                    display: none;
                }

                &.home__mobile-word--padding-top {
                    display: none;

                    @include breakpointMF(tablet) {
                        display: inline-block;
                        padding-top: calc(var(--chunk) * 12);
                    }

                    @include breakpointMF(desktop) {
                        display: none;
                    }
                }
            }

            .home__desktop-word-wrapper {
                @include breakpointMF(tablet) {
                    flex: 1 1 50%;
                    display: inline-block;
                }

                @include breakpointMF(desktop) {
                    display: flex;
                    flex: unset;
                }

                &:has(.home__tablet-word) {
                    display: inline-flex;
                    gap: calc(var(--chunk) * 16);
                }
            }
        }
    }

    &__small-mobile-word {
        @include breakpointMF(tablet) {
            display: none;
        }
    }

    &__mobile-word {
        @include breakpointMF(desktop) {
            display: none;
        }

        &.home__mobile-word--padding-top {
            @include breakpointMF(tablet) {
                display: inline-block;
                padding-top: calc(var(--chunk) * 12);
            }
        }
    }

    &__tablet-word {
        display: none;

        @include breakpointMF(tablet) {
            display: inline-block;
            padding-top: calc(var(--chunk) * 12);
        }

        @include breakpointMF(desktop) {
            padding-top: unset;
        }
    }

    &__desktop-word {
        display: none;

        @include breakpointMF(desktop) {
            display: inline;
        }
    }

    &__words-list {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(var(--chunk) * #{$size-4});

        width: max-content;
        margin-top: calc(var(--chunk) * #{$size-24});
        margin-inline: calc(var(--chunk) * #{$size-24});
        padding-inline: calc(var(--chunk) * #{$size-4});

        @include breakpointMF(desktop) {
            margin-top: calc(var(--chunk) * #{$size-16});
            margin-inline: unset;
            padding-inline: unset;
        }

        &::after,
        &::before {
            position: absolute;
            top: 0;

            color: var(--Send-color, #DAD5C1);

            @include H64;

            @include breakpointMF(desktop) {
                @include H96;
            }
        }

        &::before {
            right: calc(100%);
            content: "(";

            @include breakpointMF(desktop) {
                content: none;
            }
        }

        &::after {
            left: calc(100%);
            content: ")";

            @include breakpointMF(desktop) {
                content: none;
            }
        }

    }

    &__words-slogan {
        min-width: calc(var(--chunk) * 175);

        &>li {
            width: max-content;
            padding: calc(var(--chunk) * #{$size-4}) calc(var(--chunk) * #{$size-8});

            color: var(--Asphalt-color, #252525);
            text-align: center;
            white-space: nowrap;

            background-color: var(--Send-color, #DAD5C1);

            @include adds14;
            user-select: none;
        }
    }

    &__desktop-word-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &__advantages {
        gap: calc(var(--chunk) * #{$size-24});
        margin-top: unset;
        margin-inline: unset;
        padding-inline: unset;
        padding: calc(var(--chunk) * #{$size-40}) calc(var(--chunk) * #{$size-24});
        background-color: var(--Send-color, #DAD5C1);

        @include breakpointMF(tablet) {
            margin-top: calc(calc(var(--chunk) * #{$size-40}) * -2 + 0.4rem);
        }

        @include breakpointMF(desktop) {
            margin-top: calc(calc(var(--chunk) * #{$size-40}) * -2.2);
        }
    }

    &__title-desktop-transfer {
        display: none;

        @include breakpointMF(desktop) {
            display: inline;
        }
    }

    &__margin-desktop-word {
        @include breakpointMF(desktop) {
            padding-left: 43%;
        }
    }
}
