.logo {
    display: grid;
    place-items: center;
    flex-shrink: 0;

    .icon {
        width: calc(var(--chunk) * 158);
        height: calc(var(--chunk) * 40);
        fill: var(--Send-color, #DAD5C1);
    }
}
