.map-section {
    &__inner-container {
        position: relative;
        width: 100%;
        aspect-ratio: 0.66 / 1;
        overflow: hidden;
        background-color: var(--Black-color, #1F1F1F);

        @include breakpointMF(tablet) {
            aspect-ratio: 1.23 / 1;
        }

        @include breakpointMF(desktop) {
            aspect-ratio: 2.345 / 1;
        }
    }

    &__body {
        width: 100%;
        height: 100%;
    }
}

[class*="ymaps-2"][class*="-ground-pane"] {
    -webkit-filter: invert(1) grayscale(90%);
    filter: invert(1) grayscale(90%);
}

[class*='ymaps-2'][class*='-copyrights-pane'] {
    display: none;
}
