.multi-link {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;

    cursor: default;


    &__arrow {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 300;

        display: none;
        aspect-ratio: 1;
        height: calc(100% - 1px);
        max-height: 100%;
        transform: translateY(-50%);

        background-image: url('/img/formats/diagonal-arrow-black.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;

        @include breakpointMF(desktop) {
            display: block;
        }
    }

    &__body {
        position: relative;
        z-index: 400;

        display: flex;
        align-items: center;
        gap: $size-8;

        height: 100%;
        padding: $size-8;

        color: var(--Black-color, #1F1F1F);
        background-color: #fff;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;

        transition-property: color, border, background, transform;
    }

    &__icon {
        display: grid;
        place-content: center;
        place-items: center;

        flex-shrink: 0;
        width: 4.8rem;
        height: 4.8rem;

        .icon {
            display: block;
            width: 4rem;
            height: 4rem;
        }

        .icon-stroke {
            stroke: var(--Black-color, #1F1F1F);
            stroke-width: 2px;

            transition: stroke 0.3s ease-in-out;
        }
    }

    &__title {
        @include adds14;
        font-weight: 700;
    }

    &__desc {
        @include adds12;

        @include maxSizeText(1);

        @include breakpointMF(tablet) {
            @include maxSizeText(2);
        }

        @include breakpointMF(desktop) {
            @include maxSizeText(1);
        }
    }

    @include breakpointMF(desktop) {
        @include hoverActive {

            .multi-link__body {
                transform: translateX(6.8rem);
            }
        }
    }

    &.multi-link--coral {

        .multi-link__arrow,
        .multi-link__body {
            background-color: var(--Coral-color, #FFAB7A);
        }

        @include hoverActive {

            .multi-link__body {
                color: var(--Coral-color, #FFAB7A);
                background-color: var(--Asphalt-color, #252525);
                border-color: var(--Coral-color, #FFAB7A);
            }

            .icon-stroke {
                stroke: var(--Coral-color, #FFAB7A);
            }
        }
    }

    &.multi-link--blue {

        .multi-link__arrow,
        .multi-link__body {
            background-color: var(--Blue-color, #7AC1FF);
        }

        @include hoverActive {

            .multi-link__body {
                color: var(--Blue-color, #7AC1FF);
                background-color: var(--Asphalt-color, #252525);
                border-color: var(--Blue-color, #7AC1FF);
            }

            .icon-stroke {
                stroke: var(--Blue-color, #7AC1FF);
            }
        }
    }

    &.multi-link--green {

        .multi-link__arrow,
        .multi-link__body {
            background-color: var(--Green-color, #CCFF7A);
        }

        @include hoverActive {

            .multi-link__body {
                color: var(--Green-color, #CCFF7A);
                background-color: var(--Asphalt-color, #252525);
                border-color: var(--Green-color, #CCFF7A);
            }

            .icon-stroke {
                stroke: var(--Green-color, #CCFF7A);
            }
        }
    }

    &.multi-link--purple {

        .multi-link__arrow,
        .multi-link__body {
            background-color: var(--Purple-color, #B5B4D2);
        }

        @include hoverActive {

            .multi-link__body {
                color: var(--Purple-color, #B5B4D2);
                background-color: var(--Asphalt-color, #252525);
                border-color: var(--Purple-color, #B5B4D2);
            }

            .icon-stroke {
                stroke: var(--Purple-color, #B5B4D2);
            }
        }
    }

    &.multi-link--sage {

        .multi-link__arrow,
        .multi-link__body {
            background-color: var(--Sage-color, #B9D2B4);
        }

        @include hoverActive {

            .multi-link__body {
                color: var(--Sage-color, #B9D2B4);
                background-color: var(--Asphalt-color, #252525);
                border-color: var(--Sage-color, #B9D2B4);
            }

            .icon-fill {
                fill: var(--Sage-color, #B9D2B4);
            }
        }
    }

    &.multi-link--yellow {

        .multi-link__arrow,
        .multi-link__body {
            background-color: var(--Limon-color, #FCFF7A);
        }

        @include hoverActive {

            .multi-link__body {
                color: var(--Limon-color, #FCFF7A);
                background-color: var(--Asphalt-color, #252525);
                border-color: var(--Limon-color, #FCFF7A);
            }

            .icon-fill {
                fill: var(--Limon-color, #FCFF7A);
            }
        }
    }

    &.multi-link--grey {

        .multi-link__arrow,
        .multi-link__body {
            background-color: var(--Send-color, #DAD5C1);
        }

        @include hoverActive {

            .multi-link__body {
                color: var(--Send-color, #DAD5C1);
                background-color: var(--Asphalt-color, #252525);
                border-color: var(--Send-color, #DAD5C1);
            }

            .icon-stroke {
                stroke: var(--Send-color, #DAD5C1);
            }
        }
    }
}
