.services-section {
    padding-block: 6.4rem;

    @include breakpointMF(tablet) {
        padding-block: 11.6rem;
    }

    @include breakpointMF(desktop) {
        padding-block: 12rem;
    }

    color: var(--Send-color, #DAD5C1);
    background-color: var(--Asphalt-color, #252525);

    &__service-link {
        border-bottom: 1px solid var(--Send-color, #DAD5C1);
    }

    &__services-item {
        &:not(:last-child) {
            margin-bottom: $size-40;

            @include breakpointMF(desktop) {
                margin-bottom: unset;
            }
        }

        &:last-child {
            .services-section__service-link {
                border-bottom: unset;
            }
        }
    }
}
