.services-section {
    padding-block: calc(var(--chunk) * 64);
    color: var(--Send-color, #DAD5C1);
    background-color: var(--Asphalt-color, #252525);

    @include breakpointMF(tablet) {
        padding-block: calc(var(--chunk) * 116);
    }

    @include breakpointMF(desktop) {
        padding-block: calc(var(--chunk) * 120);
    }

    &__service-link {
        border-bottom: 1px solid var(--Send-color, #DAD5C1);
    }

    &__services-item {
        &:not(:last-child) {
            margin-bottom: calc(var(--chunk) * #{$size-40});

            @include breakpointMF(desktop) {
                margin-bottom: unset;
            }
        }

        &:last-child {
            .services-section__service-link {
                border-bottom: unset;
            }
        }
    }

    &__title {
        margin-bottom: calc(var(--chunk) * #{$size-40});
        @include H64;

        @include breakpointMF(tablet) {
            margin-bottom: calc(var(--chunk) * #{$size-48});
            @include H72;
        }

        @include breakpointMF(tablet) {
            margin-bottom: calc(var(--chunk) * #{$size-96});
            @include H112;
        }
    }

    &.section--padding-top {
        padding-block: calc(var(--chunk) * #{$size-64}) calc(var(--chunk) * 164);

        @include breakpointMF(tablet) {
            padding-block: calc(var(--chunk) * 116) calc(var(--chunk) * 180);
        }

        @include breakpointMF(desktop) {
            padding-block: calc(var(--chunk) * 120) calc(var(--chunk) * 200);
        }

        .services-section__site-container {
            @extend ._intro-padding-top;
        }
    }
}
