.service-link {
    --transition-time: 0.5s;
    --transition-func: ease-out;

    display: block;
    color: inherit;
    padding-bottom: calc(var(--chunk) * #{$size-40});
    cursor: default;

    @include breakpointMF(desktop) {
        padding-block: 0;
    }

    &__body {
        position: relative;
        z-index: 200;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: calc(var(--chunk) * #{$size-20});

        @include breakpointMF(desktop) {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            gap: calc(var(--chunk) * #{$size-80});
            min-height: calc(var(--chunk) * 192);
        }
    }

    &__name {
        @include S32;

        @include breakpointMF(desktop) {
            max-width: 32ch;
            transition: text-shadow var(--transition-time, 0.5s) var(--transition-func, ease-out);
        }
    }

    &__desc {
        @include adds12;

        @include breakpointMF(tablet) {
            @include adds14;
        }

        @include breakpointMF(desktop) {
            width: calc(var(--chunk) * 440);
            margin-left: auto;
        }
    }

    &__text {
        @include breakpointMF(desktop) {
            display: inline;

            @include base16;

            transition-duration: var(--transition-time, 0.2s);
            transition-timing-function: var(--transition-func, ease-out);
            will-change: background, color, line-height, padding;
        }

        &>span {
            @include breakpointMF(desktop) {
                display: block;
                width: max-content;
                line-height: 1.44;

                transition-property: background, color, padding, margin;
                transition-duration: var(--transition-time, 0.2s);
                transition-timing-function: var(--transition-func, ease-out);
                will-change: background, color, line-height, padding;
            }
        }
    }

    &__arrow {
        display: none;
        width: calc(var(--chunk) * 74);
        height: calc(var(--chunk) * 74);

        stroke: var(--Send-color, #DAD5C1);
        stroke-width: 4.75px;

        transition-property: opacity, transform;
        transition-duration: var(--transition-time, 0.2s);
        transition-timing-function: var(--transition-func, ease-out);

        img {
            display: block;
            width: 100%;

            object-fit: contain;
            object-position: center;
        }

        @include breakpointMF(desktop) {
            display: block;
            opacity: 0;
        }
    }

    &__link {
        display: flex;
        align-items: flex-start;
        gap: calc(var(--chunk) * #{$size-12});

        @include adds12;
        line-height: 137%;

        @include breakpointMF(desktop) {
            display: none;
        }
    }

    &__icon {
        width: calc(var(--chunk) * #{$size-16});
        height: calc(var(--chunk) * #{$size-16});
        stroke: var(--Send-color, #DAD5C1);


        .icon {
            &.icon-stroke {
                stroke-width: 2px;
            }
        }
    }

    &__image-dot {
        position: absolute;
        z-index: 100;

        display: none;
        place-items: center;
        place-content: center;

        width: 1px;
        height: 1px;
        pointer-events: none;
    }

    &__image {
        width: calc(var(--chunk) * 216);
        aspect-ratio: 0.7 / 1;
        transform: translate(-25%, -25%);

        img {
            display: block;
            height: 100%;

            object-fit: cover;
            object-position: center
        }
    }

    @include hoverActive() {
        .service-link__name {
            @include breakpointMF(desktop) {
                @include hover-weight-grow(0.2px, 0.2s);
            }
        }

        .service-link__arrow {
            @include breakpointMF(desktop) {
                transform: translateX(calc(var(--chunk) * 22));
                opacity: 1;
            }
        }

        .service-link__text {
            @include breakpointMF(desktop) {}

            &>span {
                &:not(:last-child) {
                    @include breakpointMF(desktop) {
                        margin-bottom: calc(var(--chunk) * #{$size-4});
                    }
                }

                @include breakpointMF(desktop) {
                    padding: calc(var(--chunk) * #{$size-4}) calc(var(--chunk) * #{$size-8});

                    color: var(--Asphalt-color, #252525);
                    background-color: var(--Send-color, #DAD5C1);
                }
            }
        }
    }

    &.service-link--hover {
        @include hoverActive() {
            .service-link__image-dot {
                @include breakpointMF(desktop) {
                    display: grid;
                }
            }

            .service-link__image {
                @include breakpointMF(desktop) {
                    animation-name: fadeOutSimple;
                    animation-duration: var(--transition-time, 0.5s);
                    animation-timing-function: var(--transition-func, ease-out);
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

@keyframes fadeOutSimple {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
