.simple-section {
    padding-block: calc(var(--chunk) * #{$size-80});
    min-height: calc(var(--chunk) * 428);

    color: var(--Asphalt-color, #252525);
    background-color: var(--Limon-color, #FCFF7A);

    @include breakpointMF(tablet) {
        min-height: calc(var(--chunk) * 506);
    }

    @include breakpointMF(desktop) {
        min-height: calc(var(--chunk) * 506);
    }


    &__body {
        @include breakpointMF(tablet) {
            position: relative;
            padding-block: calc(var(--chunk) * 125);
        }
    }

    &__title {
        @include S32;
        margin-top: calc(var(--chunk) * 13);
        user-select: none;

        @include breakpointMF(tablet) {
            margin-top: unset;
            text-align: center;

            @include S48;
            user-select: none;
        }

        &>br {
            &:first-child {
                display: none;

                @include breakpointMF(desktop) {
                    display: inline;
                }
            }

            &:nth-child(2) {
                @include breakpointMF(desktop) {
                    display: none;
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--chunk) * #{$size-16});

        margin-top: calc(var(--chunk) * #{$size-48});

        @include breakpointMF(tablet) {
            margin-top: unset;
        }
    }

    &__item {
        position: relative;
        padding-left: calc(var(--chunk) * #{$size-28});

        @include adds14;

        @include breakpointMF(tablet) {
            position: absolute;
            bottom: 0;

            @include base16;
            user-select: none;
        }

        &:first-child {
            @include breakpointMF(tablet) {
                top: 0;
                bottom: unset;
            }
        }

        &:last-child {
            @include breakpointMF(tablet) {
                right: 0;

                padding-left: unset;
                padding-right: calc(var(--chunk) * #{$size-28});

                &::before {
                    left: unset;
                    right: 0;
                }
            }
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 0;

            width: calc(var(--chunk) * 20);
            height: calc(var(--chunk) * 20);
            transform: translateY(-50%);

            background-color: var(--Asphalt-color, #252525);
            content: "";
        }
    }
}
