.table-section {
    &.table-section--dark {
        color: var(--Send-color, #DAD5C1);
        background-color: var(--Asphalt-color, #252525);

        @include breakpointMF(tablet) {
            padding-block: $size-44 0;
        }

        @include breakpointMF(desktop) {
            padding-block: $size-84;
        }
    }

    &.table-section--light {
        color: var(--Asphalt-color, #252525);
        background-color: var(--Send-color, #DAD5C1);
    }

    &.table-section--sage {
        color: var(--Asphalt-color, #252525);
        background-color: var(--Sage-color, #B9D2B4);
    }

    &__site-container {
        padding-block: $size-80;

        @include breakpointMF(tablet) {
            padding-block: $size-80 $size-40;
        }
    }

    &__title {
        @include S48;

        @include breakpointMF(tablet) {
            @include H72;
        }
    }

    &__body {
        margin-top: $size-48;

        @include breakpointMF(tablet) {
            margin-top: $size-56;
        }

        @include breakpointMF(desktop) {
            margin-top: $size-80;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: $size-48;

        @include breakpointMF(tablet) {
            gap: $size-40 $size-8;
        }

        @include breakpointMF(desktop) {
            gap: $size-8;
        }

        &.table-section__header {
            display: none;

            @include breakpointMF(desktop) {
                display: flex;
                margin-bottom: $size-48;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: $size-48;

        @include breakpointMF(tablet) {
            gap: $size-56;
        }

        @include breakpointMF(desktop) {
            gap: $size-48;
        }

        &.table-section__list--bigger-gap {
            gap: $size-56;

            @include breakpointMF(tablet) {
                gap: $size-56;
            }

            @include breakpointMF(desktop) {
                gap: $size-64;
            }

            .table-section__item {
                padding-bottom: $size-56;

                @include breakpointMF(desktop) {
                    padding-bottom: $size-64;
                }
            }
        }
    }

    &__item {
        padding-bottom: $size-56;

        @include breakpointMF(desktop) {
            padding-bottom: $size-48;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--Darksend-color, #807D73);
        }
    }

    &__big {
        flex: 1 1 100%;
        margin-bottom: calc(#{$size-8} * -1);

        @include S32;

        @include breakpointMF(tablet) {
            @include S48;
        }

        @include breakpointMF(desktop) {
            flex: 1 1 calc(100% / 2 - (#{$size-4}));
        }
    }

    &__small {
        flex: 1 1 100%;

        @include breakpointMF(tablet) {
            flex: 1 1 calc(100% / 2 - (#{$size-8} / 2));
        }

        @include breakpointMF(desktop) {
            flex: 1 0 calc(100% / 4 - (#{$size-8}));
        }
    }

    &__name {
        text-wrap-style: pretty;

        @include breakpointMF(desktop) {
            max-width: 23ch;
        }
    }

    &__label {
        display: block;

        @include adds14;
        font-weight: 700;

        &--mobile {
            margin-bottom: $size-16;

            @include breakpointMF(tablet) {
                margin-bottom: $size-24;
            }

            @include breakpointMF(desktop) {
                display: none;
            }
        }

        &--hidden {
            opacity: 0;
        }
    }

    &__value {
        @include base16;

        @include breakpointMF(desktop) {
            max-width: 35ch;
        }

        &.table-section__value--column {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: $size-16;

            @include breakpointMF(tablet) {
                gap: $size-24;
            }

            @include breakpointMF(desktop) {
                gap: $size-16;
            }
        }
    }

    &__nameplate {
        &.nameplate {
            background: var(--Asphalt-color, #252525);
            color: var(--Sage-color, #B9D2B4);
            pointer-events: none;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $size-8;

        padding-block: $size-56 $size-44;
        border-top: 1px solid var(--Darksend-color, #807D73);

        @include breakpointMF(desktop) {
            padding-top: $size-64;
        }

    }
}
