.text-slide {
    direction: ltr;
    text-align: left;
    padding: calc(var(--chunk) * #{$size-48}) calc(var(--chunk) * #{$size-24});

    color: var(--Send-color, #DAD5C1);
    background-color: var(--Asphalt-color, #252525);

    @include breakpointMF(desktop) {
        padding: unset;
        padding-bottom: calc(var(--chunk) * 106);

        background-color: transparent;
        color: var(--Asphalt-color, #252525);
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--chunk) * #{$size-16});

        @include breakpointMF(desktop) {
            gap: calc(var(--chunk) * #{$size-4});
        }

        &.text-slide__heading--row {
            display: flex;
            align-items: stretch;
            flex-direction: row;
            gap: calc(var(--chunk) * #{$size-16});
        }
    }

    &__author-image {
        width: calc(var(--chunk) * 65);
        height: calc(var(--chunk) * 65);
        overflow: hidden;
        flex-shrink: 0;

        @include breakpointMF(tablet) {
            display: none;
        }

        img {
            display: block;
            width: 100%;
            min-height: 100%;

            object-fit: cover;
            object-position: center;
        }
    }

    &__author {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: calc(var(--chunk) * #{$size-4});
    }

    &__name {
        @include S48;

        @include breakpointMF(tablet) {
            @include H64;
        }

        @include breakpointMF(desktop) {
            padding: calc(var(--chunk) * #{$size-4}) calc(var(--chunk) * #{$size-8});

            color: var(--Send-color, #DAD5C1);
            background-color: var(--Asphalt-color, #252525);

            @include base20bold;
        }
    }

    &__role {
        padding: calc(var(--chunk) * #{$size-4}) calc(var(--chunk) * #{$size-8});

        color: var(--Asphalt-color, #252525);
        background-color: var(--Send-color, #DAD5C1);

        @include adds14;

        @include breakpointMF(desktop) {
            background-color: var(--Asphalt-color, #252525);
            color: var(--Send-color, #DAD5C1);
        }
    }

    &__body {
        position: relative;


        @include breakpointMF(tablet) {
            margin-block: calc(var(--chunk) * #{$size-48}) calc(var(--chunk) * #{$size-80});
        }

        @include breakpointMF(desktop) {
            max-width: calc(var(--chunk) * 322);
            margin-block: calc(var(--chunk) * #{$size-16}) 0;
        }

        &._element-collapsed {
            @include breakpointMF(desktop) {
                @include maxSizeText(18);
            }
        }
    }

    &__basement {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(var(--chunk) * #{$size-16});

        @include adds14;
        font-weight: bold;

        @include breakpointMF(desktop) {
            display: none;
        }
    }

    &__text {
        @include base16;
    }

    &__text {

        &:not(:last-child) {
            margin-bottom: calc(var(--chunk) * #{$size-24});

            @include breakpointMF(desktop) {
                margin-bottom: unset;
            }
        }

        &:last-child {

            &::after {
                @include breakpointMF(desktop) {
                    display: inline;
                    width: calc(var(--chunk) * 151);
                    height: calc(var(--chunk) * 16);
                    content: "";
                }
            }
        }
    }

    &__expand {
        position: absolute;
        right: 0;
        bottom: 0;

        display: none;

        background-color: var(--Send-color, #DAD5C1);

        @include adds14;
        font-weight: bold;

        @include breakpointMF(desktop) {
            display: grid;
        }
    }
}
