{{#extend "primary"}}
{{#content "main"}}

<section class="section hero-section js-intro-trigger" data-midnight="light" id="first-section-abchor">
    <div class="hero-section__inner-wrapper">
        <div class="hero-section__site-container">
            <h1 class="section__title visually-hidden">
                Битрикс24 под ключ
            </h1>

            <div class="hero-section__body">
                <div class="hero-section__heading">
                    <div class="hero-section__title home__title home__title--row">
                        Битрикс24
                        <span class="home__mobile-word">под ключ</span>
                        <div class="home__desktop-word-wrapper">

                            <div class="home__desktop-word">(</div>
                            <ul class="home__words-list home__words-slogan">
                                <li>CRM,</li>
                                <li>задачи, продажи</li>
                                <li>в одной</li>
                                <li>системе!</li>
                            </ul>
                            <div class="home__desktop-word">) под ключ</div>
                        </div>

                    </div>
                </div>

                {{#if heroList}}
                <ul class="hero-section__list">
                    {{#each heroList}}
                    <li class="hero-section__item hero-item js-hero-item">
                        <div class="hero-item__icon">
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#{{this.icon}}"></use>
                            </svg>
                        </div>

                        <div class="hero-item__column">
                            <h6>
                                {{this.desc}}
                            </h6>
                            <p>
                                {{this.text}}
                            </p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}

                <a href="#callback-modal" class="hero-section__link button button--white">
                    Получить демо
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section blue-section js-blue-trigger" data-midnight="light">
    <div class="blue-section__site-container">
        <div class="blue-section__body">
            <div class="blue-section__title">
                <svg aria-hidden="true" class="icon">
                    <use xlink:href="#bitrix"></use>
                </svg>
            </div>
            <p class="blue-section__text">
                Наша компания&nbsp;&mdash; официальный партнер Битрикс24&nbsp;с 2012&nbsp;года!
            </p>
        </div>
    </div>
    <div class="blue-section__cover js-cover"></div>
</section>

{{>table-section}}

{{>competence-section}}

{{>stages-section}}

{{>tarriffs-section}}

<section class="section conditions-section js-cond-animation-pin" data-midnight="light">
    <div class="conditions-section__site-container js-cond-animation-trigger">
        <h2 class="section__title visually-hidden">
            Условия работы
        </h2>
        <div class="conditions-section__title js-cond-animation-title">
            (Условия работы)
        </div>

        <ul class="conditions-section__list js-cond-animation-wrapper">
            <li class="conditions-section__item conditions-section__item--purple js-cond-animation-item">
                <svg aria-hidden="true" class="conditions-section__icon icon-work">
                    <use xlink:href="#cond-work"></use>
                </svg>
                <p class="conditions-section__text">
                    Работа&nbsp;по&nbsp;договору
                </p>
            </li>
            <li class="conditions-section__item conditions-section__item--green js-cond-animation-item">
                <svg aria-hidden="true" class="conditions-section__icon icon-task">
                    <use xlink:href="#cond-task"></use>
                </svg>
                <p class="conditions-section__text">
                    Берем нестандартные&nbsp;задачи
                </p>
            </li>
            <li class="conditions-section__item conditions-section__item--blue js-cond-animation-item">
                <svg aria-hidden="true" class="conditions-section__icon icon-connect">
                    <use xlink:href="#cond-connect"></use>
                </svg>
                <p class="conditions-section__text">
                    Связь&nbsp;24/7&nbsp;во&nbsp;всех каналах
                </p>
            </li>
        </ul>
    </div>
</section>

{{>cases-section}}

{{>benefits-section}}
{{>clients-section}}

{{>reviews}}

{{>feedback-section}}
{{>faq-section}}

{{/content}}
{{/extend}}
