{{#extend "secondary"}}
{{#content "main"}}

<section class="cases-section section" data-midnight="light" id="first-section-abchor">
    <div class="cases-section__site-container">
        <div class="cases-section__heading cases-section__heading--column">
            <h2 class="cases-section__title">
                Кейсы
            </h2>
            <div class="cases-section__subtitle">
                <p>
                    Все о наших решениях, которые
                </p>
                <p>
                    помогают нашим партнерам достичь <span class="hide-on-mobile">&nbsp;результатов</span>
                </p>
                <p class="show-on-mobile">
                    результатов
                </p>
            </div>

            <ul class="cases-section__navbars cases-section__navbars--full-grow js-navbars">
                <li class="">
                    <a href="#" class="cases-section__navbar nameplate nameplate--active js-navbar-link"
                        data-nav-counter="32" data-filter="all">
                        все
                    </a>
                </li>
                <li class="">
                    <a href="#" class="cases-section__navbar nameplate js-navbar-link" data-nav-counter="6"
                        data-filter="dev">
                        разработка
                    </a>
                </li>
                <li class="">
                    <a href="#" class="cases-section__navbar nameplate js-navbar-link" data-nav-counter="8"
                        data-filter="support">
                        поддержка
                    </a>
                </li>
                <li class="">
                    <a href="#" class="cases-section__navbar nameplate js-navbar-link" data-nav-counter="12"
                        data-filter="seo">
                        SEO
                    </a>
                </li>
                <li class="">
                    <a href="#" class="cases-section__navbar nameplate js-navbar-link" data-nav-counter="7"
                        data-filter="bitrix">
                        Битрикс24
                    </a>
                </li>
            </ul>
        </div>
        <div class="cases-section__body cases-section__body--page-box">
            <ul class="cases-section__list cases-section__list--collapsed">
                {{#each cases}}
                <li class="cases-section__item">
                    {{>case-card caseClass="cases-section__case-card" dataId=this.dataId}}
                </li>
                {{/each}}
            </ul>

            <a href="" class="cases-section__link cases-section__add-items button button--black">
                Еще кейсы
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
