{{#extend "primary"}}
{{#content "main"}}


<section class="home section" id="first-section-abchor">
    <div class="home__inner-wrapper">
        <h1 class="section__title visually-hidden">
            Разработка на 1С-Битрикс + Битрикс24: запускаем, развиваем, поддерживаем
        </h1>
        <div class="home__site-container">
            <div class="home__heading">
                <div class="home__title">
                    Разработка на 1С-Битрикс + Битрикс24: запускаем,<br>
                    развиваем,<br>
                    <span class="home__mobile-word">поддерживаем</span>
                    <div class="home__desktop-word-wrapper">

                        <div class="home__desktop-word">под(</div>
                        <ul class="home__words-list home__words-slogan">
                            <li>Мы —</li>
                            <li>интеллектуальный</li>
                            <li>лифт, построенный</li>
                            <li>из кода, дизайна</li>
                            <li>и стратегии. С нами</li>
                            <li>это работает</li>
                            <li>стабильно. Вы</li>
                            <li>управляете бизнесом,</li>
                            <li>мы — всей</li>
                            <li>технической частью</li>
                        </ul>
                        <div class="home__desktop-word">)держиваем</div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="simple-section section" data-section="yellow" data-midnight="light">
    <div class="simple-section__site-container">
        <div class="simple-section__body">
            <h2 class="simple-section__title">
                Работаем с&nbsp;2012 года<br> и&nbsp;помогаем<br> интернет-магазинам&nbsp;расти
            </h2>

            <ul class="simple-section__list">
                <li class="simple-section__item">
                    разрабатываем на 1С-битрикс
                </li>
                <li class="simple-section__item">
                    приводим клиентов с SEO
                </li>
                <li class="simple-section__item">
                    поддерживаем и дорабатываем проекты
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="video-section section">
    <div class="video-section__wrapper">
        <video id="player" playsinline controls data-poster="./img/formats/poster.png">
            <source src="./img/video/video.mp4" type="video/mp4" />
            <source src=./img/video.webm" type="video/webm" />
        </video>
    </div>
</section>

<section class="advantages-section section" data-midnight="light">
    <div class="advantages-section__site-container">
        <div class="advantages-section__body">
            <div class="advantages-section__heading home__heading">
                <div class="home__title home__title--smaller home__title--max-w">
                    Почему интернет-<br class="home__title-desktop-transfer">
                    <span class="home__margin-desktop-word">магазины</span>
                    <span class="home__mobile-word">выбирают нас?</span>
                    <div class="home__desktop-word-wrapper">

                        <div class="home__desktop-word">вы(</div>
                        <ul class="home__words-list home__advantages">
                            <li class="home__advantage advantage">
                                <div class="advantage__counter">
                                    первое
                                </div>
                                <p class="advantage__text">
                                    Комплексный подход: разработка, поддержка, SEO
                                </p>
                            </li>
                            <li class="home__advantage advantage">
                                <div class="advantage__counter">
                                    второе
                                </div>
                                <p class="advantage__text">
                                    Глубокая экспертиза в 1С-Битрикс.
                                </p>
                            </li>
                            <li class="home__advantage advantage">
                                <div class="advantage__counter">
                                    третье
                                </div>
                                <p class="advantage__text">
                                    Быстрое реагирование: критические задачи решаем за 5-15 минут
                                </p>
                            </li>
                            <li class="home__advantage advantage">
                                <div class="advantage__counter">
                                    четвертое
                                </div>
                                <p class="advantage__text">
                                    Готовы работать и&nbsp;в&nbsp;нерабочее время
                                </p>
                            </li>
                            <li class="home__advantage advantage">
                                <div class="advantage__counter">
                                    пятое
                                </div>
                                <p class="advantage__text">
                                    Честное ценообразование: без&nbsp;«сгорающих» часов и&nbsp;скрытых платежей
                                </p>
                            </li>
                        </ul>
                        <div class="home__desktop-word">)бирают нас?</div>
                    </div>
                    </h1>
                </div>
            </div>
        </div>
</section>

<section class="services-section section">
    <div class="services-section__site-container">
        <h2 class="services-section__title visually-hidden">
            Услуги
        </h2>

        <ul class="services-section__services-list">
            <li class="services-section__services-item">
                <a href="#" class="services-section__service-link service-link">
                    <div class="service-link__body">
                        <p class="service-link__name">
                            Разработка интернет магазинов
                        </p>

                        <div class="service-link__desc">
                            <p class="service-link__text">
                                <span>
                                    Создадим проект с&nbsp;нуля или переделаем старый
                                </span>
                                <span>
                                    сайт под современные требования
                                </span>
                            </p>
                        </div>

                        <div class="service-link__arrow">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/diagonal-arrow.webp" />
                                <img class="lazy" src="./img/formats/diagonal-arrow.png" alt="image">
                            </picture>
                        </div>

                        <div class="service-link__link">
                            Узнать подробнее
                            <svg aria-hidden="true" class="service-link__icon">
                                <use xlink:href="#mini-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="service-link__image-dot">
                        <div class="service-link__image">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/link-image.webp" />
                                <img class="lazy" src="./img/formats/link-image.jpg" alt="image">
                            </picture>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services-section__services-item">
                <a href="#" class="services-section__service-link service-link">
                    <div class="service-link__body">
                        <p class="service-link__name">
                            Техническая поддержка и&nbsp;развитие
                        </p>

                        <div class="service-link__desc">
                            <p class="service-link__text">
                                <span>
                                    Обеспечим стабильную работу, ускорим сайт,
                                </span>
                                <span>
                                    добавим новые функции
                                </span>
                            </p>
                        </div>

                        <div class="service-link__arrow">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/diagonal-arrow.webp" />
                                <img class="lazy" src="./img/formats/diagonal-arrow.png" alt="image">
                            </picture>
                        </div>

                        <div class="service-link__link">
                            Узнать подробнее
                            <svg aria-hidden="true" class="service-link__icon">
                                <use xlink:href="#mini-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="service-link__image-dot">
                        <div class="service-link__image">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/link-image-2.webp" />
                                <img class="lazy" src="./img/formats/link-image-2.jpg" alt="image">
                            </picture>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services-section__services-item">
                <a href="#" class="services-section__service-link service-link">
                    <div class="service-link__body">
                        <p class="service-link__name">
                            SEO-продвижение
                        </p>

                        <div class="service-link__desc">
                            <p class="service-link__text">
                                <span>
                                    Продвинем ваш&nbsp;сайт в&nbsp;ТОП, увеличим трафик
                                </span>
                                <span>
                                    и&nbsp;продажи
                                </span>
                            </p>
                        </div>

                        <div class="service-link__arrow">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/diagonal-arrow.webp" />
                                <img class="lazy" src="./img/formats/diagonal-arrow.png" alt="image">
                            </picture>
                        </div>

                        <div class="service-link__link">
                            Узнать подробнее
                            <svg aria-hidden="true" class="service-link__icon">
                                <use xlink:href="#mini-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="service-link__image-dot">
                        <div class="service-link__image">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/link-image.webp" />
                                <img class="lazy" src="./img/formats/link-image.jpg" alt="image">
                            </picture>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services-section__services-item">
                <a href="#" class="services-section__service-link service-link">
                    <div class="service-link__body">
                        <p class="service-link__name">
                            Битрикс24
                        </p>

                        <div class="service-link__desc">
                            <p class="service-link__text">
                                <span>
                                    Настроим CRM и&nbsp;воронки, автоматизируем задачи,
                                </span>
                                <span>
                                    обучим команду и&nbsp;возьмем сопровождение на&nbsp;себя
                                </span>
                            </p>
                        </div>

                        <div class="service-link__arrow">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/diagonal-arrow.webp" />
                                <img class="lazy" src="./img/formats/diagonal-arrow.png" alt="image">
                            </picture>
                        </div>

                        <div class="service-link__link">
                            Узнать подробнее
                            <svg aria-hidden="true" class="service-link__icon">
                                <use xlink:href="#mini-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="service-link__image-dot">
                        <div class="service-link__image">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/link-image-2.webp" />
                                <img class="lazy" src="./img/formats/link-image-2.jpg" alt="image">
                            </picture>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

{{>cases-section}}

{{>reviews}}

{{>feedback-section}}

{{>cookies-popup}}

{{>help-button}}

{{/content}}
{{/extend}}
