{{#extend "primary"}}
{{#content "main"}}

<section class="section hero-section" data-midnight="light" id="first-section-abchor">
    <div class="hero-section__inner-wrapper">
        <div class="hero-section__site-container">
            <h1 class="section__title visually-hidden">
                SEO продвижение
            </h1>

            <div class="hero-section__body">
                <div class="hero-section__heading">
                    <div class="hero-section__title home__title home__title--row">
                        SEO
                        <span class="home__mobile-word">продвижение</span>
                        <div class="home__desktop-word-wrapper">

                            <div class="home__desktop-word">(</div>
                            <ul class="home__words-list home__words-slogan">
                                <li>Аудит,</li>
                                <li>оптимизация и рост</li>
                                <li>позиций, без</li>
                                <li>пустых обещаний —</li>
                                <li>только измеримые</li>
                                <li>KPI</li>
                            </ul>
                            <div class="home__desktop-word">) продвижение</div>
                        </div>

                    </div>
                </div>

                {{#if heroList}}
                <ul class="hero-section__list">
                    {{#each heroList}}
                    <li class="hero-section__item hero-item">
                        <div class="hero-item__icon">
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#{{this.icon}}"></use>
                            </svg>
                        </div>

                        <div class="hero-item__column">
                            <h6>
                                {{this.desc}}
                            </h6>
                            <p>
                                {{this.text}}
                            </p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}

                <a href="#callback-modal" class="hero-section__link button button--white">
                    Оставить заявку
                </a>
            </div>
        </div>
    </div>
</section>

{{>table-section}}

{{>cases-section}}

{{>benefits-section}}
{{>clients-section}}

{{>reviews}}

{{>feedback-section}}
{{>faq-section}}

{{/content}}
{{/extend}}
