{{#extend "primary"}}
{{#content "main"}}

<section class="services-section section section--padding-top" data-midnight="light" id="first-section-abchor">
    <div class="services-section__site-container">
        <h2 class="services-section__title">
            Услуги
        </h2>

        <ul class="services-section__services-list">
            <li class="services-section__services-item">
                <a href="#" class="services-section__service-link service-link">
                    <div class="service-link__body">
                        <p class="service-link__name">
                            Разработка интернет магазинов
                        </p>

                        <div class="service-link__desc">
                            <p class="service-link__text">
                                Создадим проект с&nbsp;нуля или переделаем
                                старый&nbsp; &nbsp;сайт под современные требования
                            </p>
                        </div>

                        <div class="service-link__arrow">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/diagonal-arrow.webp" />
                                <img class="lazy" src="./img/formats/diagonal-arrow.png" alt="image">
                            </picture>
                        </div>

                        <div class="service-link__link">
                            Узнать подробнее
                            <svg aria-hidden="true" class="service-link__icon">
                                <use xlink:href="#mini-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="service-link__image-dot">
                        <div class="service-link__image">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/link-image.webp" />
                                <img class="lazy" src="./img/formats/link-image.jpg" alt="image">
                            </picture>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services-section__services-item">
                <a href="#" class="services-section__service-link service-link">
                    <div class="service-link__body">
                        <p class="service-link__name">
                            Техническая поддержка и&nbsp;развитие
                        </p>

                        <div class="service-link__desc">
                            <p class="service-link__text">
                                Обеспечим стабильную работу, ускорим сайт,&nbsp; &nbsp;добавим новые функции
                            </p>
                        </div>

                        <div class="service-link__arrow">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/diagonal-arrow.webp" />
                                <img class="lazy" src="./img/formats/diagonal-arrow.png" alt="image">
                            </picture>
                        </div>

                        <div class="service-link__link">
                            Узнать подробнее
                            <svg aria-hidden="true" class="service-link__icon">
                                <use xlink:href="#mini-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="service-link__image-dot">
                        <div class="service-link__image">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/link-image-2.webp" />
                                <img class="lazy" src="./img/formats/link-image-2.jpg" alt="image">
                            </picture>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services-section__services-item">
                <a href="#" class="services-section__service-link service-link">
                    <div class="service-link__body">
                        <p class="service-link__name">
                            SEO-продвижение
                        </p>

                        <div class="service-link__desc">
                            <p class="service-link__text">
                                Продвинем ваш&nbsp;сайт в&nbsp;ТОП, увеличим трафик и&nbsp;продажи
                            </p>
                        </div>

                        <div class="service-link__arrow">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/diagonal-arrow.webp" />
                                <img class="lazy" src="./img/formats/diagonal-arrow.png" alt="image">
                            </picture>
                        </div>

                        <div class="service-link__link">
                            Узнать подробнее
                            <svg aria-hidden="true" class="service-link__icon">
                                <use xlink:href="#mini-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="service-link__image-dot">
                        <div class="service-link__image">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/link-image.webp" />
                                <img class="lazy" src="./img/formats/link-image.jpg" alt="image">
                            </picture>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services-section__services-item">
                <a href="#" class="services-section__service-link service-link">
                    <div class="service-link__body">
                        <p class="service-link__name">
                            Битрикс24
                        </p>

                        <div class="service-link__desc">
                            <p class="service-link__text">
                                Настроим CRM и&nbsp;воронки продаж, автоматизируем бизнес-процессы,
                                обучим команду и&nbsp;возьмем сопровождение на&nbsp;себя
                            </p>
                        </div>

                        <div class="service-link__arrow">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/diagonal-arrow.webp" />
                                <img class="lazy" src="./img/formats/diagonal-arrow.png" alt="image">
                            </picture>
                        </div>

                        <div class="service-link__link">
                            Узнать подробнее
                            <svg aria-hidden="true" class="service-link__icon">
                                <use xlink:href="#mini-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="service-link__image-dot">
                        <div class="service-link__image">
                            <picture>
                                <source type="image/webp" srcset="./img/formats/link-image-2.webp" />
                                <img class="lazy" src="./img/formats/link-image-2.jpg" alt="image">
                            </picture>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

{{/content}}
{{/extend}}
