.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1000;

    display: none;
    flex-direction: column;
    align-items: stretch;

    overflow: hidden;
    background: rgba(#252525, 0.5);
    -webkit-overflow-scrolling: touch;

    .no-touch & {
        @include customScrollbar();
    }

    &:not(.active) {
        right: calc(-1 * var(--sb-width, 0));
    }

    &.active {
        display: flex;
    }

    &__inner-wrapper {
        flex-grow: 1;
        height: 100%;
        max-height: 100%;
        overflow: auto;
    }

    &__site-container {
        padding-block: calc(var(--chunk) * 135) calc(var(--chunk) * 116);
    }

    &__body {
        position: relative;
        padding: calc(var(--chunk) * #{$size-64}) calc(var(--chunk) * #{$size-16}) 10.4rem;

        color: var(--Send-color, #DAD5C1);
        background-color: var(--Black-color, #1F1F1F);
        border: 2px solid var(--Send-color, #DAD5C1);

        @include breakpointMF(tablet) {
            padding: calc(var(--chunk) * 116) calc(var(--chunk) * #{$size-40});
        }

        @include breakpointMF(desktop) {
            padding: calc(var(--chunk) * #{$size-96}) calc(var(--chunk) * #{$size-64});
        }


        .feedback-section__column {
            margin-top: calc(var(--chunk) * #{$size-48});

            @include breakpointMF(tablet) {
                margin-top: calc(var(--chunk) * #{$size-64});
            }

            @include breakpointMF(desktop) {
                margin-top: calc(var(--chunk) * #{$size-64});
            }
        }

        .feedback-section__title {
            @include S48;
        }

        .feedback-section__column {
            @include breakpointMF(desktop) {
                gap: calc(var(--chunk) * #{$size-40}) calc(var(--chunk) * 108);
            }
        }
    }
}
