.page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;

    width: 100%;
    background-color: var(--Asphalt-color, #252525);

    &__site-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-block: $size-12;

        @include breakpointMF(tablet) {
            padding-block: $size-16;
        }
    }

    &__logo {

        &.logo {
            display: none;

            @include breakpointMF(tablet) {
                display: grid;
            }
        }
    }

    &__burger {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        width: 4.8rem;
        height: 4.8rem;
        margin-left: auto;
        margin-right: -0.6rem;

        .icon {
            grid-row: 1 / 2;
            grid-column: 1 / 2;

            transition: opacity 0.2s ease-out;
        }

        .icon-burger {
            width: 3.6rem;
            height: 2.8rem;

            stroke: var(--Send-color, #DAD5C1);
            stroke-width: 0.4rem;
        }

        .icon-close {
            width: 2rem;
            height: 2rem;

            stroke: var(--Send-color, #DAD5C1);
            stroke-width: 0.3rem;
            opacity: 0;
        }
    }
}
