.page-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;

    width: 100%;
    background-color: var(--Asphalt-color, #252525);

    &__inner {
        z-index: 2000;
    }

    @include breakpointMF(tablet) {
        position: absolute;
    }

    &__site-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-block: $size-12;

        @include breakpointMF(tablet) {
            padding-block: $size-16;
        }
    }

    &__logo {

        &.logo {
            display: none;

            @include breakpointMF(tablet) {
                display: grid;
            }
        }
    }

    &__burger {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        width: 4.8rem;
        height: 4.8rem;
        margin-left: auto;
        margin-right: -0.6rem;

        .icon {
            grid-row: 1 / 2;
            grid-column: 1 / 2;

            transition: opacity 0.2s ease-out;
            pointer-events: none;
        }

        .icon-burger {
            width: 3.6rem;
            height: 2.8rem;

            stroke: var(--Send-color, #DAD5C1);
            stroke-width: 0.4rem;
        }

        .icon-close {
            width: 2rem;
            height: 2rem;

            stroke: var(--Send-color, #DAD5C1);
            stroke-width: 0.3rem;
            opacity: 0;
        }
    }

    &__mobile-menu {
        position: fixed;
        inset: 0;
        z-index: 1000;

        display: none;
        padding-top: var(--header-height);
    }
}

.mobile-menu-open {
    .page-header__burger {
        .icon-burger {
            opacity: 0;
        }

        .icon-close {
            opacity: 1;
        }
    }

    .mobile-menu {
        display: flex;
    }

    .mobile-menu__body {
        animation: slideFromLeft 0.3s ease-out 0s 1 forwards;
    }

    .midnightInner {
        overflow: hidden !important;
    }
}

.page-header {
    &.page-header--light {
        background-color: var(--Send-color, #DAD5C1);

        .page-header__logo {
            &.logo {
                .icon {
                    fill: var(--Asphalt-color, #252525);
                }
            }
        }

        .menu__link {
            color: var(--Asphalt-color, #252525);

            &::before {
                background-color: var(--Asphalt-color, #252525);
            }
        }
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}
