.button {
    display: grid;
    place-items: center;
    height: 7.4rem;
    padding: $size-24;

    @include base20;
    white-space: nowrap;

    color: var(--Asphalt-color, #252525);
    background-color: transparent;
    border: 0.5px solid var(--Asphalt-color, #252525);

    transition-property: color, background;
    transition-timing-function: ease;
    transition-duration: 0.3s;

    &.button--white {
        color: var(--Send-color, #DAD5C1);
        border-color: var(--Send-color, #DAD5C1);

        &.button--outlined {
            color: var(--Asphalt-color, #252525);
            background-color: transparent;
            border-color: var(--Asphalt-color, #252525);
        }
    }

    &.button--black {
        color: var(--Send-color, #DAD5C1);
        background-color: var(--Asphalt-color, #252525);
        border-width: 0;
    }
}

.button {
    &.button--white {
        @include hoverActive {
            color: var(--Asphalt-color, #252525);
            border-color: var(--Send-color, #DAD5C1);
            background-color: var(--Send-color, #DAD5C1);
        }
    }

    &.button--outlined {
        @include hoverActive {
            color: var(--Asphalt-color, #252525);
            border-color: var(--Send-color, #DAD5C1);
            background-color: var(--Send-color, #DAD5C1);
        }
    }
}
