#cursor {
    position: absolute;
    z-index: 10000;

    width: 10px;
    height: 10px;
    margin: -15px 0 0 -15px;

    background-color: var(--Limon-color, #FCFF7A);
    border-radius: 100%;

    transform: scale(1);
    transition: all .65s cubic-bezier(.75, -1.27, .3, 2.33);
    transition-property: transform, margin;
    pointer-events: none;
    user-select: none;

    &.dark {
        background-color: var(--Asphalt-color, #252525);
    }

    &.active {
        margin: -10px 0 0 -10px;
    }
}

#cursor.hidden {
    transform: scale(.001);
}

.touch #cursor {
    display: none;
}
