.help-button {
    position: fixed;
    bottom: calc(var(--chunk) * #{$size-32});
    right: calc(var(--chunk) * #{$size-32});
    z-index: 1000;

    display: grid;
    place-items: center;
    place-content: center;

    width: calc(var(--chunk) * 76);
    height: calc(var(--chunk) * 76);

    background-color: var(--Sage-color, #B9D2B4);
    border-radius: 100%;

    .icon {
        display: block;
        width: calc(var(--chunk) * 38);
        height: calc(var(--chunk) * 38);
        flex-shrink: 0;

        transform-origin: center;
        transition-property: transform;
        transition-duration: 0.2s;
        transition-timing-function: ease;

        fill: var(--Asphalt-color, #252525);
    }

    @include hoverActive {
        .icon {
            transform: scale(1.05);
        }
    }
}
