.nameplate {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: calc(var(--chunk) * #{$size-12});

    height: calc(var(--chunk) * 34);
    padding-inline: calc(var(--chunk) * #{$size-12});

    color: var(--Asphalt-color, #252525);
    text-transform: lowercase;

    background-color: transparent;
    border: 0.5px solid transparent;

    transition-property: border, color, background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
    white-space: nowrap;

    @include base16;

    @include breakpointMF(tablet) {
        @include adds14;
    }

    @include breakpointMF(desktop) {
        @include adds14;
        user-select: none;
    }

    &.feedback-section__type {
        color: var(--Send-color, #DAD5C1);
        border-color: var(--Send-color, #DAD5C1);
    }

    &:not(.benefits-section__nameplate) {
        @include hoverActive() {
            color: var(--Limon-color, #FCFF7A);
            border-color: var(--Limon-color, #FCFF7A);
        }
    }


    &:has(input:checked) {
        color: var(--Asphalt-color, #252525);
        background-color: var(--Limon-color, #FCFF7A);
        border-color: var(--Asphalt-color, #252525);

        @include hoverActive() {
            color: var(--Limon-color, #FCFF7A);
            background-color: transparent;
        }
    }

    &.nameplate--active {
        color: var(--Asphalt-color, #252525);
        background-color: var(--Limon-color, #FCFF7A);
        border-color: var(--Asphalt-color, #252525);
        pointer-events: none;

        @include hoverActive() {
            color: var(--Limon-color, #FCFF7A);
            background-color: transparent;
        }
    }

    &>i {
        width: calc(var(--chunk) * 10);
        height: calc(var(--chunk) * 10);
        aspect-ratio: 1/1;
        flex-shrink: 0;

        background-color: var(--Asphalt-color, #252525);
        border-radius: 100%;
    }
}
