.nameplate {
    display: grid;
    place-items: center;
    height: 3.5rem;
    padding-inline: $size-12;

    background-color: transparent;
    border: 0.5px solid transparent;

    transition-property: border, color, background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
    white-space: nowrap;

    @include base16;

    @include breakpointMF(tablet) {
        @include adds14;
    }

    @include breakpointMF(desktop) {
        @include adds14;
        user-select: none;
    }

    &.feedback-section__type {
        border-color: var(--Send-color, #DAD5C1);
    }

    @include hoverActive() {
        color: var(--Limon-color, #FCFF7A);
        border-color: var(--Limon-color, #FCFF7A);
    }

    &:has(input:checked) {
        color: var(--Asphalt-color, #252525);
        background-color: var(--Limon-color, #FCFF7A);
        border-color: var(--Asphalt-color, #252525);

        @include hoverActive() {
            color: var(--Limon-color, #FCFF7A);
            background-color: transparent;
        }
    }

    &.nameplate--active {
        color: var(--Asphalt-color, #252525);
        background-color: var(--Limon-color, #FCFF7A);
        border-color: var(--Asphalt-color, #252525);
        pointer-events: none;

        @include hoverActive() {
            color: var(--Limon-color, #FCFF7A);
            background-color: transparent;
        }
    }
}
